@(lecture: models.persistence.lecture.Lecture, allRooms:List[persistence.location.RoomEntity])


@import models.persistence.enumerations.ELectureKind
@import models.persistence.enumerations.EDuration
@import play.api.Play.current


<div id="panel@lecture.getId" class="panel-body @{
    lecture.getDuration match {
        case EDuration.EVEN => "bg-warning"
        case EDuration.UNEVEN => "bg-primary"
        case EDuration.WEEKLY => "bg-info"
        case other => "bg-danger " + other
    }
} @lecture.getDocents.map(_.getLastName).mkString(" ") @lecture.getLectureParticipants.map(_.getCourseName).mkString(" ")" >
    <div class="pull-right">

            <span class="glyphicon @{
                lecture.getKind match {
                    case ELectureKind.EXERCISE => "glyphicon-hdd"
                    case ELectureKind.LECTURE => "glyphicon-book"
                }
            } " >
        </span>


    </div>
    <div class=""> <strong>  @lecture.getShortName </strong></div>



    <div style="font-size: 90%">
    @for(participant <- lecture.getLectureParticipants.toList.sortBy(_.getCourseName)) {
        @participant.getShortName
    }
    </div>
    <div class="pull-right">
    @lecture.getDocents.map(_.getLastName).mkString(" ")
    </div>

    @if(!lecture.getNotOptimalPlaced.isEmpty && current.configuration.getString("schedule.show.outOfWishTime").getOrElse("OFF").equalsIgnoreCase("ON")) {

        <div> @lecture.getNotOptimalPlaced </div>
    }

    <form class="lectureform">
    <input class="hidden disabled" type="number" name="lectureId" value="@lecture.getId">
    <input name="duration" id="duration@lecture.getId" type="text" value="@lecture.getDuration" class="hidden disabled">
    <div class="form-inline">
        @if(lecture.getDuration != EDuration.WEEKLY) {
            <div class="form-group">
                <button id="durationSwitcher@lecture.getId" role="button" type="button" class=" btn btn-sm btn-info form-control"><span class="glyphicon glyphicon-transfer"></span> </button>
            </div>
        }
        <div class="form-group">
            <select name="room" class="form-control editRoom" >
            @for(room<-allRooms){
                <option  @if(room.equals(lecture.getRoom)){selected } value="@room.getId">@room.getHouse.getName @room.getNumber </option>
            }

            </select>

        </div>
    </div>
    </form>
</div>
    @if(lecture.getDuration != EDuration.WEEKLY){
    <script>
        $('#durationSwitcher@lecture.getId').on('click',
       function(){

        var newDuration={};
        switch ($('#duration@lecture.getId').val())
        {

            case "@EDuration.EVEN":
                newDuration ['bgclass']='bg-primary';
                newDuration['duration']="@EDuration.UNEVEN" ;
                break;
            case "@EDuration.UNEVEN":
                newDuration ['bgclass']='bg-warning';
            newDuration['duration']="@EDuration.EVEN";
                break;
            default:
                console.log('holy shit');
            }
        console.log(newDuration ['bgclass']);
      $('#panel@lecture.getId').removeClass('bg-primary').removeClass('bg-info').removeClass('bg-warning');
    $('#panel@lecture.getId').addClass(newDuration ['bgclass']);
        $('#duration@lecture.getId').val(newDuration.duration);
    });
    </script>
}