@(title:String,timeRanges: List[models.fhs.pages.generator.TimeRange], timeslots: List[models.persistence.scheduletree.TimeSlot], allRooms:List[persistence.location.RoomEntity], allCourses:List[persistence.participants.Course], allDocents:List[persistence.docents.Docent], semesterId:Long)
@import models.persistence.enumerations.EDuration
@import models.persistence.scheduletree.Weekday

<div class="page-header">
    <h3>@title</h3>
</div>
<div class="progress progress-striped active hidden">
    <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">10% Complete</span>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-5 resultSuccsess hidden alert alert-success alert-dismissable">Erfolg <span class="glyphicon glyphicon-thumbs-up"></span>  </div>
<div class="col-md-5 resultError hidden alert alert-danger alert-dismissable">Fehler <span class="glyphicon glyphicon-thumbs-down"></span>  </div>
<div class="clearfix"></div>
    <div class="form-inline">
        <div class="form-group">
            <label for="filterCourse" class="control-label"> Filtere Kurs </label>
            <select id="filterCourse" class="form-control" title="kein filter" multiple>

                @for(c<-allCourses){
                    <option value=".@c.getShortName">@c.getShortName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="filterDocent">FiltereDozent</label>
            <select id="filterDocent" class="form-control" title="kein filter" multiple>

                @for(d<-allDocents){
                    <option value=".@d.getLastName">@d.getLastName</option>
                }
            </select>
        </div>
    </div>

    <div class="form-inline">
        <div class="form-group">
            Legende:
         </div>
        <div class="form-group">
            <div class="showcase panel-info">
                <div class="bg-info showcase-content">w</div>
            </div>
        </div>
        <div class="form-group">
            <div class="showcase">
                <div class=" bg-warning showcase-content">g</div>
            </div>
        </div>
       <div class="form-group">
           <div class="showcase">
               <div class="bg-primary showcase-content">ug</div>
            </div>
       </div>
        <div class="form-group">
             <div class="showcase">
               <span class="glyphicon glyphicon-book"></span> V
             </div>
        </div>
        <div class="form-group">
             <div class="showcase">
               <span class="glyphicon glyphicon-hdd"></span> Ü
             </div>
        </div>
        <div class="form-group">
            <button title="neuen Plan speichern" class="btn btn-sm btn-success savebtn form-control"> <span class="glyphicon glyphicon-floppy-disk"></span> </button>
        </div>
        <div class="form-group">
            <a title="Abbrechen" href="@routes.CEditSchedule.page()" class="btn btn-sm btn-danger form-control"> <span class="glyphicon glyphicon-remove"></span> </a>
        </div>
    </div>
    <br/>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
            <th class="text-info text-center" >Uhrzeit</th>

            @days= @{
                CTimeslotDefintion.WEEKDAYS.filter{
                    case (sortIndexString,dayname)=>
                            val sortIndex=sortIndexString.toInt
                    !timeslots.find(_.getParent.asInstanceOf[Weekday].getSortIndex.toInt == sortIndex).isEmpty
                }.sortBy(_._1)
            }

            @for(day <- days) {
                <th class="text-info text-center" style="min-width: 370px"> @day._2</th>
            }
            </tr>
        </thead>
        <tbody>
          @timeRanges.sorted.par.map { range =>
            <tr>
                <td class="text-center" style=" vertical-align : middle ; width : 8% ;" >
                @range.toString
                </td>
                @for(day <- days) {
                    <td >
                        @defining(timeslots.toSet.filter(slot => range.compare(slot) == 0 && slot.getParent.asInstanceOf[Weekday].getSortIndex.toInt == day._1.toInt)) { timeSlotsInRange =>
                            @defining(timeSlotsInRange.flatMap(_.getLectures.toList).toList) { lectures =>
                                @* check if timeslots are available*@
                                @if(!timeSlotsInRange.isEmpty) {
                                    <ul class="connected list-unstyled list-inline table-bordered" data-metainfo='{ "startHour":@range.startHour,"startMinute":@range.startMinute,"stopHour":@range.stopHour,"stopMinute":@range.stopMinute, "day":@day._1}' style="height : 100% ; min-height : 30px">
                                    @for(lecture <- lectures.sortBy{l=> ( if(l.getDuration == EDuration.WEEKLY){0}else{ -timeSlotsInRange.map(_.getLectures.count(_.getDocents.contains(l.getDocents.head))).sum}, l.getDocents.head.getLastName)}) {
                                        <li class="listElement" style="min-width : 170px ; max-width : 220px">
                                            <div class="panel panel-info small smallText" >
                                            @displayAbstractLecture(lecture, allRooms)
                                            </div>
                                        </li>
                                    }
                                    </ul>
                                }
                            }
                        }
                    </td>
                }
            </tr>
        }.toList
        </tbody>
    </table>
</div>
    <div class="form-inline">
        <div class="form-group">
            <button class="btn btn-sm btn-success savebtn form-control"> <span class="glyphicon glyphicon-floppy-disk"></span> </button>
        </div>
        <div class="form-group">
            <a href="@routes.CEditSchedule.page()" class="btn btn-sm btn-danger form-control"> <span class="glyphicon glyphicon-remove"></span> </a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="progress progress-striped active hidden">
        <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">10% Complete</span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-5 resultSuccsess hidden alert alert-success alert-dismissable">Erfolg <span class="glyphicon glyphicon-thumbs-up"></span>  </div>
    <div class="col-md-5 resultError hidden alert alert-danger alert-dismissabler">Fehler <span class="glyphicon glyphicon-thumbs-down"></span>  </div>

    <script>

    var changeFilter = function(){
    $('.lecturePanel' ).addClass('hidden');

    var selectedDocents = wrapArray($('#filterDocent' ).val()||[]);
    var selectedCourses = wrapArray($('#filterCourse' ).val()||[]);
    var selected = $.merge(selectedCourses,selectedDocents);
    if(selected.length>0){

    selected.forEach(function(element){
    $(element ).removeClass('hidden');
    });
    console.log(selected);


    } else {
    $('.lecturePanel' ).removeClass('hidden');
    }

    };

        $('#filterDocent' ).on('change',changeFilter);
        $('#filterCourse' ).on('change',changeFilter);

    $('.connected').sortable({
    connectWith: '.connected'
    });
    initSelect();
    $ ( ".editRoom" ).attr ( 'data-live-search', true ).selectpicker ( {
    //'selectedText' : 'cat',
    'style' : 'btn btn-primary btn-sm small smallText'
    } );

    //send new schedule to server
        $('.savebtn' ).on('click', function(){
            $('.bg-danger' ).removeClass('bg-danger')

        var semester = @semesterId ;
        var lectureBuffer = [];

            $('.lectureform' ).each(function(index, value){
            var formData = $(value ).serializeObject();
            var metaInfo = $(value ).parents('.connected' ).data('metainfo');
                var fields = ['startHour','startMinute','stopHour','stopMinute','day'];
                fields.forEach(function(field){
                formData[ field ] = metaInfo[ field ] ;
                });

                lectureBuffer.push(formData);
            });
        var data = {
            'semester':semester,
            'lectures':lectureBuffer
        };
    console.log(JSON.stringify(data));
    $('.progress' ).removeClass('hidden');
    $.ajax ( {
    cache : false,
    type : "POST",
    dataType : "json",
    data : JSON.stringify ( data ),
    contentType : "application/json; charset=utf-8",
    url : "  @routes.CEditSchedule.saveEditedSchedule",
    success:function(response){
        console.log(JSON.stringify( response));
    $('.progress' ).addClass('hidden');

        if(response.isValid){
            $('.resultError' ).addClass('hidden');
            $('.resultSuccsess' ).removeClass('hidden');
            $(location ).attr('href','@routes.CEditSchedule.page()');
        }
        else{

            response.invalidSlots.forEach(
            function(slot ){
                $('.connected' ).each(function(index,value){
                    var metaData = $(value ).data('metainfo');
                    if( slot['startHour']==metaData['startHour'] && slot['startMinute']==metaData['startMinute'] && slot['stopHour']==metaData['stopHour'] && slot['stopMinute']==metaData['stopMinute'] && slot['day']==metaData['day']){

                    $(value ).addClass('bg-danger');
                    }
                });
            }
            );
            $('.resultError' ).removeClass('hidden');
            $('.resultSuccsess' ).addClass('hidden');

        }
        },
    error:function(response){
        console.log(response);
    $('.resultError' ).removeClass('hidden');
    $('.resultSuccsess' ).addClass('hidden');
    }
    });

   });
    $('#activityContainer' ).addClass('hidden');

    //assistent stuff
    $('.listElement' ).mousedown(function(){
    $('.bg-success' ).removeClass('bg-success');
        var currentData = $(this ).find('.lectureform' ).serializeObject();

        $('.connected' ).each(function(index, element){
            this.collision = false;
            var self=this;

           $(element ).find('.lectureform').each(function(i,theForm){
                var formData = $(theForm ).serializeObject();
                //console.log(JSON.stringify(formData));
                var collisionDuration = currentData['duration']==formData['duration']|| currentData['duration']=='@EDuration.WEEKLY' || formData['duration']=='@EDuration.WEEKLY';
                var collisionDocent = false;

                if(! $.isArray(currentData['docents' ])){
                currentData['docents' ]=[currentData['docents' ]];
                }
                if(! $.isArray(formData['docents' ])){
                formData['docents' ]=[formData['docents' ]];
                }

                currentData['docents' ].forEach(function(d){
                    if( $.inArray(d,formData['docents' ])!=-1){
                        collisionDocent = true;
                    }
                });

                //$(currentData['docents' ] ).not(formData['docents'] ).length==0 ||  $(formData['docents' ] ).not( currentData['docents'] ).length==0;
                var collisionRoom = currentData['room' ] == formData['room'];
                //console.log('current room: ' +currentData['room' ] + " formRoom: " + formData['room']);
                if( collisionDuration && (collisionRoom||collisionDocent)){
                self.collision = true;
                }
            });

            if(!this.collision){
            $(element ).addClass('bg-success');
            }

        });

    } ).mouseup(function(){
        $('.bg-success' ).removeClass('bg-success');
    });

    $('.durationSwitcher').on('click',
    function(){

    var newDuration={};
    var durationInput = $(this ).parents("form.lectureform" ).children('input[name=duration]');
    var i = durationInput.val();

    if(i=='@EDuration.EVEN')
    {
    newDuration ['bgclass']='bg-primary';
    newDuration['duration']="@EDuration.UNEVEN" ;
    } else
    if(i=="@EDuration.UNEVEN")
    {
    newDuration ['bgclass']='bg-warning';
    newDuration['duration']="@EDuration.EVEN";
    }

    var panel = $(this ).parents(".panel-body");
    console.log(newDuration ['bgclass']);
    //console.log(panel);

    $(panel).removeClass('bg-primary').removeClass('bg-info').removeClass('bg-warning');
    $(panel).addClass(newDuration ['bgclass']);
    $(durationInput).val(newDuration.duration);
    });

    </script>