@(message: String, semesters: List[models.persistence.Semester], docents:List[models.persistence.docents.Docent], courses:List[models.persistence.participants.Course], semesterForm:Form[models.fhs.pages.editsubjects.MSemester])(implicit session:Session)

@import views.html.helper._
@import views.html.helper.twitterBootstrap._

@main(message, CEditSubjects.NAV) {
    <div class="page-header">
        <h3>Semester hinzufügen </h3>
    </div>
    @form(action= routes.CEditSubjects.addSemester(), 'class -> " form-inline "){
        @inputText(semesterForm("name"),'_class->"form-group", '_label->"Name", '_help->"")
        <div class="form-group">
            <label class="control-label"><span class="glyphicon"></span> </label>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> </button>
        </div>
    }

        <div class="page-header">
            <h3> Fächer bearbeiten </h3>
        </div>

        <div class="row-fluid">
            <div class="col-md-12">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label" for="selectSemester">Semester</label>
                        <select class="form-control" id="selectSemester" title="Semester">
                        @for(semester <- semesters) {
                            <option value="@semester.getId">@semester.getName</option>
                        }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="selectLectureType">Typ</label>
                        <select class="form-control" id="selectLectureType" title="Vorlesung oder Übung">
                            <option value="@CEditSubjects.LECTURE">
                                Vorlesung
                            </option>
                            <option value="@CEditSubjects.EXERCISE">
                                Übung
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Lösche Semester</label>
                        <button type="button" id="deleteSemesterModalBtn" class="btn btn-danger" data-toggle="modal" data-target=".delete-semester"><span class="glyphicon glyphicon-trash"></span> </button>
                    </div>
                    <div class="modal fade delete-semester" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header alert alert-danger">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="text-center modal-title"><strong> DANGERZONE!!! </strong></h4>
                                 </div>
                                <div class="modal-body">
                                    Sind Sie sich sicher, das Sie dass <strong><span id="semesterPlaceholder"></span></strong> und <strong>alle</strong> damit verbundenen Veranstaltungen <strong>löschen</strong> wollen?
                                    <div class="hidden" id="progresscontainer">
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                <span class="sr-only">100% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal" ><span class="glyphicon glyphicon-remove"></span> </button>
                                        <button type="button" id="deleteSemesterBtn" class="btn btn-danger" ><span class="glyphicon glyphicon-ok"></span> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <br/>
               <div class="form-inline">
                    <div class="form-group">
                        <label for="filterDocent" class="control-label">Filtere Dozent</label>
                        <select class="form-control" id="filterDocent">
                            <option value="-1">kein filter</option>
                            @for(d <- docents){
                                <option value="@d.getId">@d.getLastName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="filterCourses" class="control-label">Filter Kurs</label>
                        <select class="form-control" id="filterCourses">
                            <option value="-1">kein filter</option>
                            @for(c <- courses){
                                <option value="@c.getId">@c.getShortName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="filterActive">Filter Aktive</label>
                        <select class="form-control" id="filterActive">
                            <option value="-1">kein filter</option>
                            <option value="@true">Nur Aktive</option>
                            <option value="@false">Nur Nicht Aktive</option>
                        </select>
                     </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="row-fluid">
            <div id="nameContainer" class="col-md-12">

            </div>
        </div>


        <script type="text/javascript">

            $('#deleteSemesterModalBtn' ).on('click',function(){
                $('#semesterPlaceholder' ).html($('#selectSemester').find(':selected' ).text());
            });

            $('#deleteSemesterBtn' ).on('click', function(){
                console.log('delete btn clicked');
                $('#progresscontainer' ).removeClass('hidden');
                $(location ).attr('href',"/deleteSemester/" + $('#selectSemester' ).val());
            });

            var reenableSelectBoxes = function( ){

            initSelect();

            };

            var getNameField = function ( ) {

            $.getJSON ( '/editSucjects/' + $ ( '#selectSemester' ).val ( ) + "/" +
            $ ( '#selectLectureType' ).val ( ) + '/' +$('#filterDocent' ).val()
            + '/' +$('#filterCourses' ).val()+ '/' +$('#filterActive' ).val(), function ( data ) {

            $ ( '#nameContainer' ).empty ( ).append ( data.html ) ;

            reenableSelectBoxes();
            } ) ;
            };

        $ ( window ).on ( 'load', function ( ) {
        $ ( '#selectLectureType' ).on ( 'change', getNameField ) ;
        $ ( '#selectSemester' ).on ( 'change', getNameField ) ;
        $ ( '#filterDocent' ).on('change', getNameField);
        $ ( '#filterCourses' ).on('change', getNameField);
        $ ( '#filterActive' ).on('change', getNameField);
        getNameField ( ) ;

        } ) ;


        </script>
    }
