@(lectureNames: List[models.fhs.pages.editsubjects.MSubjects], lectureType: String)
<div class="row-fluid">
    <div class="col-md-5">
        <label for="nameField" class="control-label">
        Bezeichnung
        </label>
        <select class="form-control" id="nameField" title="Bezeichnung">
            @for(element <- lectureNames) {
                <option value="@element.id">@element.name</option>
            }
        </select>
    </div>

</div>
<div class="clearfix"></div>
<div id="inputContainer">

</div>

<script type="text/javascript">

var fillInputContainer = function ( ) {

$.getJSON ( '/subjects/' + '@lectureType/' +$('#nameField' ).val ( )
, function ( data ) {
$ ( '#inputContainer' ).empty ( ).append ( data.html ) ;
reenableSelectBoxes ( ) ;
} ) ;
}

$ ( '#nameField' ).on ( 'change', fillInputContainer ) ;
fillInputContainer ( ) ;
</script>

