@(lectureNames: List[models.fhs.pages.editsubjects.MSubjects], lectureType: String)(implicit session:Session)


    <br/>
    <div class="form-inline">
        <div class="form-group">
        <label for="nameField" class="control-label">
        Bezeichnung
        </label>
        <select class="form-control" id="nameField" title="Bezeichnung">
            @lectureNames.par.map { element =>
                <option @if(element.id == session.get("subjectFields").getOrElse("-1").toLong){selected} value="@element.id">@element.name ( @element.participants )</option>
            }.toList
        </select>
        </div>
        <div class="form-group">
            <button title="neue Veranstaltung erstellen" id="newSubjectBtn" class="btn btn-sm btn-info" type="button"> <span class="glyphicon glyphicon-plus"></span> </button>
        </div>

    </div>


<div class="clearfix"></div>
<br/>
<div  class="panel panel-info">
<div id="inputContainer" class="panel-body">

</div>

</div>

<script type="text/javascript">
$('#newSubjectBtn' ).on('click',function(){
$.getJSON ( '/subjects/' +  $ ( '#selectSemester' ).val ( ) + '/@lectureType/null'
, function ( data ) {
$ ( '#inputContainer' ).empty ( ).append ( data.htmlresult ) ;
reenableSelectBoxes ( ) ;
} ) ;
});


var fillInputContainer = function ( ) {

$.getJSON ( '/subjects/' +  $ ( '#selectSemester' ).val ( ) + '/@lectureType/' +$('#nameField' ).val ( )
, function ( data ) {
$ ( '#inputContainer' ).empty ( ).append ( data.htmlresult ) ;
reenableSelectBoxes ( ) ;
} ) ;
}

$ ( '#nameField' ).on ( 'change', fillInputContainer ) ;
fillInputContainer ( ) ;
</script>

