@(lectureType: String, subject: models.persistence.subject.AbstractSubject, docents: List[models.persistence.docents.Docent], courses: List[models.persistence.participants.Course], houses:List[models.persistence.location.HouseEntity], rooms:List[models.persistence.location.RoomEntity])

@import models.persistence.criteria.RoomCriteria
@import models.fhs.pages.roomdefinition.MRoomdefintion

@import models.persistence.subject.ExerciseSubject
@import models.persistence.criteria.TimeSlotCriteria
@import models.persistence.enumerations.EDuration



<form role="form" id="subjectForm" class="form-inline">

    <div class="form-group">
        <label for="nameInput" class="control-label">Name</label>
        <input class="form-control " id="nameInput" name="nameInput" type="text" placeholder="name" value="@subject.getName" required>
    </div>

    <div id="unitInputDiv" class="form-group">
        <label for="unitInput" class="control-label">Einheiten</label>
        <input class="form-control" id="unitInput" name="unitInput" type="number" placeholder="einheiten" value="@subject.getUnits" step="0.5" min="0.5" required>
    </div>

    <div class="clearfix"></div>
    <div class="form-group" id="expectedParticipantsContainer">
        <label class="control-label" for="expectedParticipantsInput">Erwartete Teilnehmerzahl <br/> (optional) </label>
        <input id="expectedParticipantsInput" name="expectedParticipants" class="form-control" type="number" min="0" placeholder="Anzahl" value="@if(subject.getExpectedParticipants!=null){@subject.getExpectedParticipants}">
    </div>
    @if(lectureType.equals(CEditSubjects.EXERCISE)) {
        <div class="form-group">
            <label class="control-label" for="groupTypeInput"><br/>Gruppentyp</label>
            <input class="form-control" id="groupTypeInput" name="groupTypeInput" type="text" placeholder="Gruppentyp" value="@(subject.asInstanceOf[ExerciseSubject].getGroupType)" required>
        </div>
    }

    <div class="clearfix"></div>
    <br/>
    <div class="form-group">
        <label class="control-label" for="duration"><span class="glyphicon"></span> </label>
        <select id="duration" name="duration">
            <option @if(subject.getDuration == EDuration.WEEKLY){selected} value="@EDuration.WEEKLY">Wöchentlich</option>
            <option @if(subject.getDuration == EDuration.UNWEEKLY){selected} value="@EDuration.UNWEEKLY">nicht Wöchentlich</option>
        </select>
    </div>

    <div id="courses" class="form-group">
        <label class="control-label" for="selectCourse">Kurse</label>
        <select class="form-control" multiple="multiple" id="selectCourse" name="selectCourse" title="nichts ausgewählt" required>
        @for(course <- courses) {
            <option value="@course.getId" @if(subject.getCourses.contains(course)) { selected }
            > @course.getShortName </option>
        }
        </select>
    </div>

    <div class="form-group">
        <div id="docents">
            <label class="control-label" for="selectDocents">Dozenten</label>
            <select class="form-control" multiple="multiple" id="selectDocents" name="selectDocents" title="nichts ausgewählst" required>
            @for(docent <- docents) {
                <option value="@docent.getId" @if(subject.getDocents.contains(docent)) { selected }
                >@docent.getLastName </option>
            }
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="panel panel-info">
        <fieldset >
            <legend > Einschränkungen (Optional) </legend>
            <div class="form-group">
                <label class="control-label">Raumeigenschaften</label>
                @for(attr<-MRoomdefintion.ATTRIBUTES){
                <div class="checkbox">
                    <label>                                                                                       @* check if room attr is set *@
                        <input type="checkbox" name="roomAttributes" class="form-control" value="@attr" @if(!subject.getCriteriaContainer.getCriterias.filter(_.isInstanceOf[RoomCriteria]).filter(roomCrit => roomCrit.asInstanceOf[RoomCriteria].getRoomAttributes.count(_.getAttribute.equals(attr))>0).isEmpty){checked} /> @attr
                    </label>
                </div>
                }
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label class="control-label" for="houseCriteria">Gebäude</label>
                <select class="form-control" id="houseCriteria" name="houseCriteria" multiple title="keine Einschränkung">
                    @for(h<-houses){
                        <option value="@h.getId" @if(
                             subject.getCriteriaContainer.getCriterias.count {
                                case _: TimeSlotCriteria => false
                                case rc: RoomCriteria =>
                                    if(rc.getHouse != null) {
                                        rc.getHouse.equals(h)
                                    } else false
                            } > 0
                        ){selected}>@h.getName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="roomCriteria" class="control-label">Räume</label>
                <select class="form-control" id="roomCriteria" name="roomCriteria" multiple title="keine Einschränkung" data-selected-text-format="count>4">
                    @for(r<-rooms){
                     <option value="@r.getId" @if(
                            subject.getCriteriaContainer.getCriterias.count {
                                case _: TimeSlotCriteria => false
                                case rc: RoomCriteria =>
                                    if(rc.getRoom != null) {
                                        rc.getRoom.equals(r)
                                    } else false
                            } > 0
                        ){selected}>@r.getHouse.getName @r.getNumber</option>
                    }
                </select>
            </div>
        </fieldset>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        <label class="control-label" >Für den Plan Berücksichtigen</label>
        <div class="radio radio-inline">
            <label>
                <input class="form-control" type="radio" value="true" name="activeCheckbox" @if(subject.isActive) { checked }> Beachten
            </label>
        </div>
        <div class="radio radio-inline">
            <label>
                <input class="form-control" type="radio" value="false" name="activeCheckbox" @if(!subject.isActive) { checked }> Ignorieren
            </label>
        </div>

    </div>

    <div class="clearfix" ></div>

    <br/>
    <div class="form-inline">
        <div class="form-group">
            <button id="submitBtn" type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span></button>
        </div>
        <div class="form-group">
            <button id="chancelButton" type="reset" class="btn btn-danger"><span class="glyphicon glyphicon-ban-circle"></span> </button>
        </div>
    </div>

</form>
<div class="clearfix"></div>

<div id="result" ></div>


<script type="text/javascript">

var coursesSizes= {};
    @for(c<- courses) {
        coursesSizes['@c.getId'] = @c.getSize;
    }

var changePlaceholder = function () {

    var selectedCourses = $('#selectCourse' ).val() || [];
    var sum = 0;
    for(var i = 0;i<selectedCourses.length;i++){
    console.debug(coursesSizes[ selectedCourses[i]]);
        sum+=coursesSizes[ selectedCourses[i]];
    }


    $('#expectedParticipantsInput' ).attr('placeholder', sum);
}

$('#selectCourse' ).on('change',changePlaceholder);

changePlaceholder();

var appendError = function ( ) {
$ ( '#result' ).empty ( ).append ( '<div class="alert alert-danger">Fehler <span class="glyphicon glyphicon-thumbs-down"></span></div>' ) ;
}

$ ( '#chancelButton' ).on ( 'click', function ( ) {
$ ( location ).attr ( 'href', "    @routes.CEditSubjects.page ".trim());
} ) ;



$ ( '#subjectForm' ).on ( "submit", function ( e ) {
e.preventDefault ( ) ;

$ ( '.has-error' ).removeClass ( 'has-error' ) ;


if ( $ ( '#unitInput' ).val ( ) % 0.5 != 0 || $ ( '#unitInput' ).val ( ) < 0.5 ) {
$ ( '#unitInputDiv' ).addClass ( 'has-error' ) ;
appendError ( ) ;
return ;
}

var data = $ ( '#subjectForm' ).serializeObject ( ) ;
data[ 'subjectType' ] = '  @lectureType '.trim();
data[ 'subjectId' ] = @subject.getId ;

/** proof if checkbox is checked or not */
    data[ 'activeCheckbox' ] = $.parseJSON(data[ 'activeCheckbox' ]);
/** make sure that arrays are arrays */

if ( ! $.isArray ( data[ 'selectCourse' ] ) ) {
data[ 'selectCourse' ] =[ data[ 'selectCourse' ] ] ;
}

if(data['houseCriteria']==null){
    data['houseCriteria']=[];
}
if(! $.isArray(data['houseCriteria'])){
    data['houseCriteria']=[data.houseCriteria];
}

if(data['roomCriteria']==null){
data['roomCriteria']=[];
}
if(! $.isArray(data['roomCriteria'])){
data['roomCriteria']=[data.roomCriteria];
}

if(data['roomAttributes']==null){
    data['roomAttributes']=[];
}
if(! $.isArray(data['roomAttributes'])){
    data['roomAttributes']=[data['roomAttributes']];
}

if ( data[ 'selectDocents' ] == null ) {
$ ( '#docents' ).addClass ( 'has-error' ) ;
appendError ( ) ;
return ;
}
if ( ! $.isArray ( data[ 'selectDocents' ] ) ) {
data[ 'selectDocents' ] =[ data[ 'selectDocents' ] ] ;
}

if ( data[ 'selectCourse' ] == null ) {
$ ( '#courses' ).addClass ( 'has-error' ) ;
appendError ( ) ;
return ;
}

/** if expectedParticipantsInput is set it must be a number */
if($('#expectedParticipantsInput' ).val( )=="" ){
  data['expectedParticipants']=-1;
}

if(! $.isNumeric(data['expectedParticipants'])){
    $('#expectedParticipantsContainer' ).addClass('has-error');
    appendError();
    return;
}

data['expectedParticipants']=Number(data['expectedParticipants']);

data['semester']= $('#selectSemester').val ( ) ;

var Form = this ;
$.ajax ( {
cache : false,
type : "POST",
dataType : "json",
data : JSON.stringify ( data ),
context : Form,
contentType : "application/json; charset=utf-8",
url : "  @routes.CEditSubjects.saveData ",
success : function ( callback ) {
console.log ( JSON.stringify ( callback ) ) ;

$ ( '#result' ).empty ( ).append ( '<div class="alert alert-success">Erfolg <span class="glyphicon glyphicon-thumbs-up"></span></div>' ) ;

},

error : function ( callback ) {
// error handler
console.log ( JSON.stringify ( callback ) ) ;
$ ( '#result' ).empty ( ).append ( '<div class="alert alert-danger">Fehler <span class="glyphicon glyphicon-thumbs-down"></span></div>' ) ;

var response = callback.responseJSON ;
$ ( '#' + response.result ).addClass ( 'has-error' ) ;

}
} ) ;

console.debug ( JSON.stringify ( data ) ) ;

} ) ;
</script>