@(startHour:Int,startMinute:Int,stopHour:Int,stopMinute:Int,day:Int, duration:models.persistence.enumerations.EDuration)

@import models.persistence.enumerations.EDuration

<div class="form-group">
    <label class="control-label">Wochentag</label>
    <select name="weekday" class="form-control">
        @for((value,displayname)<-CTimeslotDefintion.WEEKDAYS){
        <option value="@value" @if(value.toInt == day){selected }>@displayname</option>
        }
    </select>
</div>
<div class="form-group">
    <label class="control-label">Art der Woche</label>
    <select name="tcritDuration" class="form-control">
        <option @if(duration == EDuration.WEEKLY){selected} value="@EDuration.WEEKLY">Wöchentlich</option>
        <option @if(duration == EDuration.EVEN){selected} value="@EDuration.EVEN">Gerade</option>
        <option @if(duration == EDuration.UNEVEN){selected} value="@EDuration.UNEVEN">Ungerade</option>
    </select>
</div>
<div class='form-group'>
    <button type='button' class='btn-sm btn btn-danger removeTimeCritBtn'> <span class='glyphicon glyphicon-minus'></span> </button>
</div>
    <div class="clearfix"></div>
    <div class="form-group">
        <fieldset>
        <legend class="control-label">Start</legend>
        <div class="form-group">
            <label class="control-label">Stunde</label>
            <select class="form-control" name="startHour">
                @for(index<- 0 to 23){
                    <option value="@index" @if(startHour == index){selected } > @index.formatted("%02d") </option>
                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Minute</label>
            <select class="form-control" name="startMinute">
                @for(index<- 0 to 59 by 5){
                <option value="@index" @if(index == startMinute){selected }> @index.formatted("%02d") </option>
                }
            </select>
        </div>
        </fieldset>
    </div>

    <div class="form-group">
        <fieldset>
        <legend class="control-label">Stop</legend>
        <div class="form-group">
            <label class="control-label">Stunde</label>
            <select class="form-control" name="stopHour">
            @for(index<- 0 to 23){
                <option value="@index" @if(stopHour == index){selected } > @index.formatted("%02d") </option>
            }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Minute</label>
            <select class="form-control" name="stopMinute">
            @for(index<- 0 to 59 by 5){
                <option value="@index" @if(index == stopMinute){selected }> @index.formatted("%02d") </option>
            }
            </select>
        </div>
        </fieldset>
    </div>
<script>
$ ( '.removeTimeCritBtn' ).on ( 'click', function ( ) {
console.log ( 'remove  pressed' ) ;
var form = $ ( this ).parent ( ).parent ( ) ;
$ ( form ).empty ( ).remove ( ) ;

} ) ;

</script>