@(existingTimeCriterias:List[models.persistence.criteria.TimeSlotCriteria], allTimeSlots:List[models.persistence.template.TimeSlotTemplate], timeRanges:List[models.fhs.pages.basicstuctures.TimeRange])

@import models.persistence.enumerations.EDuration
@import models.fhs.pages.basicstuctures.TimeRange._


@days= @{
    CTimeslotDefintion.WEEKDAYS.filterNot{
        case (sortIndexString,dayname)=>
            val sortIndex=sortIndexString.toInt
            allTimeSlots.find(_.getParent.getSortIndex == sortIndex).isEmpty
    }.sortBy(_._1)
}

<div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th class="text-center text-info" >Uhrzeit</th>


                @for(day <- days) {
                    <th class="text-info text-center" style="min-width : 100px ;"> @day._2</th>
                }
            </tr>

        </thead>
        <tbody>
        @for(range<-timeRanges.sorted){
            <tr>
                <td class="text-center"  style="vertical-align: middle; width : 8% ; ">
                @range.toString
                </td>
                @for(day <- days) {
                    <td>
                    @if(allTimeSlots.find(slot=> range.compare(slot) == 0 && slot.getParent.getSortIndex == day._1.toInt).nonEmpty) {
                        @defining(existingTimeCriterias.find( tc=> range.compare(tc) ==0 && tc.getWeekday.getSortIndex == day._1.toInt )) { matchingCrit =>
                            <form class="subform form-inline @if(matchingCrit.nonEmpty){ @{ matchingCrit.get.getDuration match {
                                case EDuration.EVEN => "bg-warning"
                                case EDuration.UNEVEN => "bg-primary"
                                case EDuration.WEEKLY => "bg-info"
                                case _ => "bg-danger"

                            }
                            } } "  >
                                <div class="container center-block ">
                                    <div class="form-group" >
                                        <div class="radio">
                                            <label>
                                                <input class="form-control weekly" name="timerange" type="radio" value="@{""+range.startHour + "-" + range.startMinute + "," + range.stopHour + "-" + range.stopMinute},@day._1,@EDuration.WEEKLY" @if(matchingCrit.nonEmpty && matchingCrit.get.getDuration == EDuration.WEEKLY){checked}> w
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input class="form-control even" name="timerange" type="radio" value="@{""+range.startHour + "-" + range.startMinute + "," + range.stopHour + "-" + range.stopMinute},@day._1,@EDuration.EVEN" @if(matchingCrit.nonEmpty && matchingCrit.get.getDuration == EDuration.EVEN){checked}> g
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input class="form-control uneven" name="timerange" type="radio" value="@{""+range.startHour + "-" + range.startMinute + "," + range.stopHour + "-" + range.stopMinute},@day._1,@EDuration.UNEVEN" @if(matchingCrit.nonEmpty && matchingCrit.get.getDuration == EDuration.UNEVEN){checked}> ug
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input class="form-control unavailable" name="timerange" type="radio" value="unavailable" @if(matchingCrit.isEmpty){checked}> N
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        }
                    }
                    </td>
                }

            </tr>
        }
        </tbody>
    </table>
</div>
<script>
/**register event handlers to change background in table*/
$('.weekly' ).on('click', function(){
$(this ).parents('form' ).removeClass('bg-primary').removeClass('bg-warning' ).addClass('bg-info');
});
$('.even' ).on('click', function(){
$(this ).parents('form' ).removeClass('bg-primary').removeClass('bg-info' ).addClass('bg-warning');
});
$('.uneven' ).on('click', function(){
$(this ).parents('form' ).removeClass('bg-info').removeClass('bg-warning' ).addClass('bg-primary');
});
$('.unavailable' ).on('click', function(){
$(this ).parents('form' ).removeClass('bg-primary').removeClass('bg-warning' ).removeClass('bg-info');
});
</script>