/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    padding-top: 2%;
}

/* Wrapper for page content to push down footer */
#wrap {

    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    position: relative;
    margin-top: -1%; /* negative value of footer height */
    height: 145px;
    background-color: #f5f5f5;
    clear: both;
    padding-top: 20px;
    text-align: center;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 90%;
    padding: 0 15px;
}

.container .text-muted {
    margin: 20px 0;
}

.selectwidthauto {
    width: 250px !important;
    height: 130px !important;
}

label {
    display: block;
}

ul.nav li.dropdown:hover > ul.dropdown-submenu {
    display: block;
}

.smallText {
    font-size: 11px;
}

.showcase {
    width: 30px;
    height: 30px;
}

.showcase-content {
    vertical-align: middle;
    text-align: center;
}

.radioSpacing{
    margin-right: 10px;
}