@(message: String)(implicit session: Session,messages:Messages)

@import navigation.ENavigation._

    @main(message, INDEX) {
        <div class="page-header">
            <h1>
                Willkommen
            </h1>
        </div>
        <h2> Changelog: </h2>
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                1.2.2
                <ul>
                    <li>
                        Hibernate aktualisiert 4.3.10.Final -> 4.3.11.Final
                    </li>
                    <li>
                        Fehler beim anlegen von Fächern behoben
                    </li>
                    <li>
                        Dozentenmenü zeigt nun SWS an
                    </li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-info">
                1.2.1
                <ul>
                    <li>
                        Playframework aktualisiert 2.3.9 -> 2.4.2
                    </li>
                    <li>
                        Anpassung an neue Framework-API
                    </li>
                    <li>
                        Fehlermeldungen für unzureichende Gruppeneinteilung aktualisiert
                    </li>
                    <li>
                        im exportieren Stundenplan steht das Erstellungsdatum
                    </li>
                    <li>
                        die Mobilversion des Stundenplans selektiert beim laden der seite den aktuellen Wochentag
                    </li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-info">
                1.2.0
                <ul>
                    <li>
                        Studenten können zwischen Gruppen per Drag and Drop verschoben werden
                    </li>
                    <li>
                        der Gruppenindex kann ausgeblendet werden
                    </li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-info">
                1.1.1
                <ul>
                    <li>
                        CSS Fehler behoben
                    </li>
                    <li>
                        Dozenten ohne namen erhalten bei import einen standardnamen
                    </li>
                    <li>
                        Übungsfächer, deren Gruppentyp noch nicht gesetzt ist, werden in der oberfläche rot markiert
                    </li>
                </ul>
            </li>
        </ul>
    }
