@(message: String)(implicit session:Session)

    @main(message, controllers.CIndex.NAV ) {
    <div class="page-header">
        <h1>
            Willkommen
        </h1>
    </div>
    <h2> Changelog: </h2>
    <ul class="list-group">
     <li class="list-group-item list-group-item-info">
         1.1.1
         <ul>
             <li>
                 CSS Fehler behoben
             </li>
             <li>
                 Dozenten ohne namen erhalten bei import einen standardnamen
             </li>
             <li>
                 Übungsfächer, deren Gruppentyp noch nicht gesetzt ist, werden in der oberfläche rot markiert
             </li>
         </ul>
     </li>
    </ul>
    }
