@(existingDocentForm: Form[fhs.pages.editdocents.MExistingDocent], houses: List[persistence.location.HouseEntity], rooms: List[persistence.location.RoomEntity])

@import models.fhs.pages.roomdefinition._

@import helper._


<div class="form-inline">
    @inputText(existingDocentForm("id"), '_class -> "hidden")
    @inputText(existingDocentForm("lastName"), '_label -> "Nachname", '_class -> "form-group", '_help -> "")
    <br/>
    <div class="form-group">
        <label class="control-label" for="favoriteFacility">Bevorzugte Gebäude</label>
        <select multiple id="favoriteFacility" name="houseCriterias[]" title="nichts ausgewählt">

        @for(h <- houses) {
            @defining(existingDocentForm.get.houseCriterias.count(house => house.houseId.equals(h.getId)) > 0) { isSelected =>
                <option value="@h.getId" @if(isSelected) { selected }>@h.getName </option>
            }
        }
        </select>
    </div>
    <div class="form-group">
        <label for="favoriteRooms" class="control-label">Bevorzugte Räume</label>
        <select multiple id="favoriteRooms" name="roomCrit[]" data-selected-text-format="count>4" title="nichts ausgewählt">
        @for(r <- rooms) {
            @defining(existingDocentForm.get.roomCrit.count(_.roomId.equals(r.getId)) > 0) { isSelected =>
                <option value="@r.getId" @if(isSelected) { selected }>@r.getHouse.getName @r.getNumber </option>
            }
        }
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Bevorzugte Ausstattung</label>
        <select id="favoriteAttributes" name="roomAttr[]" multiple title="nichts ausgewählt">
            @for(attr <- MRoomdefintion.ATTRIBUTES){
                <option value="@attr">@attr</option>
            }
        </select>
    </div>
</div>
<script> initSelect ( ) ;</script>