@(semester:models.persistence.Semester, docents:List[(models.persistence.docents.Docent, Float, Float)])
<div class="table-responsive">
  <table class="table table-striped table-hover table-condensed text-cente">
    <caption class="text-center text-primary"> @semester.getName </caption>
    <thead>
      <tr class="text-info">
        <th>
          Dozent
        </th>
        <th class="text-center">
          Benötigte SWS
        </th>
        <th class="text-center">
          Eingegebene SWS
        </th>
        <th>
          Differenz
        </th>
      </tr>
    </thead>
    <tbody>
      @docents.map{ case (d, neededSws, givenSws)=>
        <tr>
          <td>
            @d.getLastName
          </td>
          <td class="text-center">
            @neededSws
          </td>
          <td class="text-center">
            @givenSws
          </td>
          <td>
            <span class="@if(givenSws - neededSws >=0 || givenSws == 0f){ text-success } else {text-danger}">
            @{ givenSws - neededSws  }
            </span>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>