@(index:Int,existingDocentForm: Form[fhs.pages.editdocents.MExistingDocent])

@import helper._
@import helper.twitterBootstrap._
@import models.persistence.enumerations.EDocentTimeKind

@defining(existingDocentForm("timeslots[" + index + "]")){ timeslotCrit =>
    <div class="panel panel-info" id="@timeslotCrit.id">
        <button id="remove_@timeslotCrit.id" role="button" class="pull-right btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus"></span></button>
        <div class="form-group">
            <label class="control-label">Art der Verfügbarkeit</label>
            <div class="form-group">
                <label>
                    <input type="radio" class="form-control" @if(timeslotCrit("timeKind").value.getOrElse(EDocentTimeKind.AVAILABLE.name()) == EDocentTimeKind.WISH.name()) {
                    checked } name="@timeslotCrit("timeKind").name" value="@EDocentTimeKind.WISH.name()"/>
                    Wunschzeit
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input type="radio" class="form-control"  @if(timeslotCrit("timeKind").value.getOrElse(EDocentTimeKind.AVAILABLE.name()) == EDocentTimeKind.AVAILABLE.name()) {
                    checked } name="@timeslotCrit("timeKind").name" value="@EDocentTimeKind.AVAILABLE.name()"/>
                    Kannzeit
                </label>
            </div>
        </div>
        <h4>Beginn:</h4>

        @select(timeslotCrit("startHour"), (0 to 23).toSeq.map(i => (i.toString, i.formatted("%02d"))), '_class -> "form-group ", '_label -> "Stunde", '_help -> "")
        @select(timeslotCrit("startMinute"), (0 to 59 by 5).toSeq.map(i => (i.toString, i.formatted("%02d"))), '_class -> "form-group ", '_label -> "Minute", '_help -> "")

        <h4>Ende:</h4>

        @select(timeslotCrit("stopHour"), (0 to 23).toSeq.map(i => (i.toString, i.formatted("%02d"))), '_class -> "form-group ", '_label -> "Stunde", '_help -> "")
        @select(timeslotCrit("stopMinute"), (0 to 59 by 5).toSeq.map(i => (i.toString, i.formatted("%02d"))), '_class -> "form-group ", '_label -> "Minute", '_help -> "")
        <div class="clearfix"></div>
        @select(timeslotCrit("weekday"), CTimeslotDefintion.WEEKDAYS, '_class -> "form-group", '_label->"Wochentag")
    </div>
    <script>
    $ ( '#remove_@timeslotCrit.id').on(' click ', function(e){
    $ ( '#@timeslotCrit.id').remove();
    } ) ;
    </script>
}