@(lecture: models.persistence.lecture.Lecture)

@import models.persistence.enumerations.EDuration


<div class="panel-body @{
    lecture.getDuration match {
        case EDuration.EVEN => "bg-danger"
        case EDuration.UNEVEN => "bg-primary"
        case EDuration.WEEKLY => "bg-info"
        case other => other.name()
    }
}">
    <div > <strong>  @lecture.getName </strong></div>
    <div>
    @for(participant <- lecture.getParticipants) {
        @participant.getName
    }
    </div>
    <div>
    @for(docent <- lecture.getDocents) {
        @docent.getLastName
    }
    </div>
    <div> @lecture.getRoom.getHouse.getName @lecture.getRoom.getNumber </div>
    <div> @{lecture.getDuration match {
        case EDuration.EVEN => "g"
        case EDuration.UNEVEN => "u"
        case EDuration.WEEKLY => "w"
        case other => other.name()
    }

    } </div>
</div>