@(message: String, semesters: List[models.persistence.Semester], formGenerator: Form[models.fhs.pages.generator.GeneratorForm], courses:List[models.persistence.participants.Course] , docents:List[persistence.Docent])(implicit flash: Flash)

    @import helper._
    @import helper.twitterBootstrap._

    @main(message, CGenerate.NAV) {

        <div class="page-header">
            <h1>Stundenplan Generieren</h1>
        </div>
        <div class="row-fluid">
            <div class="col-md-5">
            @form(action = routes.CGenerate.generatorAction(), 'class -> "form-inline") {
                @select(formGenerator("id"), semesters.toSeq.map(s => (s.getId.toString, s.getName)), '_label -> "Semester", '_help -> "", '_class -> "form-group")
                @inputText(formGenerator("time"), '_label -> "Wie lange", '_class -> "form-group", '_help -> "")
                <div class="clearfix"></div>
                <div class="form-group">
                    <button id="submitGenerating" class="btn btn-success form-control @if(!flash.get("generating").isEmpty){disabled} " role="button" type="submit">Generieren</button>
                </div>

            }
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        @if(flash.get("startpolling").getOrElse("false").toBoolean) {
            <div class="row-fluid">
                <div id="progressBarContainer" class="col-md-5">
                    <div id="progressBar" class="progress progress-striped active">
                        <div class="progress-bar progress-bar-warning " id="progressContainer" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width : 0%">
                            <span>0%</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"> <br/> </div>
            <div class="row-fluid hidden" id="filterContainer">
                <div class="col-md-5">
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="control-label" for="selectCourseFilter">Kurs</label>
                            <select class="form-control" id="selectCourseFilter">
                            <option value="-1">alle Kurse</option>
                                @for(c <- courses){
                                    <option value="@c.getId">@c.getShortName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectDocentFilter">Dozent </label>
                            <select class="form-control" id="selectDocentFilter">
                                <option value="-1">alle Dozenten</option>
                                @for(d <- docents){
                                    <option value="@d.getId">@d.getLastName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> <br/> </div>
            <div class="row-fluid">
                <div class="col-lg-12" id="scheduleTableContainer">

                </div>
            </div>

            <script type="text/javascript">

                var now =  Date.now();
                var end = now + @flash.get("lastchoosen").getOrElse("0,0").split(",")(1) * 60000 ;
                var time = end-now;
                var w = 0;

                var showSchedule = function(){
                $.getJSON("generatorGetSchedule/" + $('#selectCourseFilter').val() + "/" + $('#selectDocentFilter' ).val(), function(data){
                $('#scheduleTableContainer' ).empty().append(data.htmlresult);
                  });
                };
            $('#selectCourseFilter' ).on('change',showSchedule);
            $('#selectDocentFilter' ).on('change',showSchedule);

            var changeProgressBar = function ( ) {
            $ ( '.progress-bar' ).removeClass ( 'progress-bar-warning' ).addClass ( 'progress-bar-success' ) ;
            } ;

            var addProgress= function(progressValue){
                w+= progressValue;
                var progress = (w*100)/time;
                console.log("progress: " + progress);

               $('#progressContainer' ).attr('aria-valuenow',progress).attr('style', 'width : ' + progress + '%' ).html('<span>' + Math.floor(progress) + '%</span>' );
            };

            var poll = function ( ) {

            $.ajax ( "@routes.CGenerate.finished", {
            dataType: "json",
            success : function ( data ) {
            if ( data.result == true ) {
            changeProgressBar ( ) ;
                $('#filterContainer' ).removeClass('hidden');
                $('#submitGenerating' ).removeClass('disabled');
            showSchedule();
            } else {
            setTimeout ( poll, 2000 ) ;
            addProgress(2000);
            }
            }
            } ) ;

            };

                poll();
            </script>

        }

    }