@(title:String,timeRanges: List[models.fhs.pages.generator.TimeRange], timeslots: List[models.persistence.scheduletree.TimeSlot], rate:Int)

@import models.fhs.pages.generator.TimeRange
@import models.persistence.scheduletree.Weekday

<div class="page-header">
    <h1>@title</h1>
</div>

    <h4>Qualität: @rate </h4>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <th class="text-info text-center" >Uhrzeit</th>
            @for(day <- CTimeslotDefintion.WEEKDAYS) {
                <th class="text-info text-center" > @day._2</th>
            }
        </thead>
        <tbody>
        @for(range <- timeRanges.sorted(TimeRange)) {
            <tr>
                <td class="text-center" style=" vertical-align : middle ; width : 8% ;" >
                @range.toString
                </td>
                @for(day <- CTimeslotDefintion.WEEKDAYS) {
                    <td >
                        <div style="max-height: 350px;  overflow:auto; display:compact">
                        @for(lecture <- timeslots.toSet.filter(slot => range.compare(slot) == 0 && slot.getParent.asInstanceOf[Weekday].getSortIndex.toInt == day._1.toInt).flatMap(_.getLectures.toList) ) {
                            <div class="panel panel-info smallText" >
                               @displayAbstractLecture(lecture)
                            </div>
                        }
                        </div>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>