@(courses:List[persistence.participants.Course])


@courses.par.map{ c=>
<div class="hidden groupcontainer @c.getShortName">
@defining(c.getGroups.toList){ allGroups =>
  @defining(allGroups.filter(_.isIgnoreGroupIndex == false).map(_.getGroupType).toSet.toList.sortBy{
    groupType:String=>
      -c.getGroups.filter(_.getGroupType.equals(groupType)).map(_.getSize.toInt).sum
  }){ sortedGroupTypes =>
    @sortedGroupTypes.map{ groupType:String =>
      <div class="panel panel-primary">
        <div class="panel-heading text-center">
          <h4 class="panel-title">
          <button class="btn btn-default" role="button" data-toggle="collapse" data-target="#@{ c.getShortName + groupType }" aria-expanded="false" aria-controls="@{ c.getShortName + groupType }"
          href="#@{ c.getShortName + groupType }">
          @groupType
          </button>
          </h4>
        </div>
        <div class="panel-body panel-collapse collapse" id="@{ c.getShortName + groupType }" >
        @defining(allGroups.filter(_.getGroupType.equals(groupType)).sortBy(_.getGroupIndex)) { filteredGroups=>
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                @filteredGroups.map { group =>
                  <th style="width: @{100f /filteredGroups.size.toFloat}%" class="text-center">Gruppe @group.getGroupIndex</th>
                }
              </tr>
            </thead>
            <tbody>
            @defining(filteredGroups.map(_.getStudents.size()).max-1) { maxRows =>
              @for(gidx <- 0 to maxRows) {
                <tr>
                @for(idx <- 0 to filteredGroups.size - 1) {
                  <td class="text-center" >
                  @defining(filteredGroups(idx).getStudents.toList.sortBy(st=>(st.getLastName,st.getFirstName)).lift(gidx)){ student=>
                    @if(student.nonEmpty){
                      @student.get.getFirstName
                      @student.get.getLastName
                    }
                  }
                  </td>
                }
                </tr>
              }
            }
            </tbody>
          </table>
        }
        </div>
      </div>

    }
  }
}
</div>
}.seq