@(lecture: models.persistence.lecture.Lecture, isOnline:Boolean)

@import models.persistence.enumerations.{EDuration, ELectureKind}
@import play.api.Play.current

  <div class="panel panel-info small smalltext ">
    <div class="panel-heading">
      @if(isOnline) {
        @lecture.getLectureParticipants.map { p =>
          <strong class="hidden lecturetitle @p.getCourseName">  @lecture.getShortName(p.getCourseName)</strong>
        }
      } else {
        @lecture.getLectureParticipants.map(p=> lecture.getShortName(p.getCourseName)).toSet.map{ lectureName:String =>
          <p><strong>@lectureName</strong></p>
        }
      }
      </div>
    <div class="panel-body @{
      lecture.getDuration match {
        case EDuration.EVEN => "bg-warning"
        case EDuration.UNEVEN => "bg-primary"
        case EDuration.WEEKLY => "bg-info"
        case other => "bg-danger " + other
      }
    }" >

      <div class="pull-right">
        <span class="glyphicon @{
          lecture.getKind match {
            case ELectureKind.EXERCISE => "glyphicon-hdd"
            case ELectureKind.LECTURE => "glyphicon-book"
          }
        } " >
        </span>
      </div>
      @if(lecture.getKind == ELectureKind.EXERCISE ) {
        <div>
        @lecture.getLectureParticipants.head.getGroupType
        </div>
      }
      <div style="font-size: 90%">
        @if(lecture.getKind == ELectureKind.EXERCISE) {
          @lecture.getLectureParticipants.map(_.getGroupIndex).toSet.mkString(" ")
        }
      </div>
      <div class="clearfix"></div>
      <div class="pull-right">
      @lecture.getDocents.map{ d=> @d.getLastName <br/>}
      </div>
      <div> @lecture.getLectureRoom.getHouse @lecture.getLectureRoom.getNumber </div>
      <div> @lecture.getAlternativeLectureRooms.map{ lr=>
        <span class="label label-warning">@lr.getHouse @lr.getNumber</span>
      }</div>
      @if(!lecture.getNotOptimalPlaced.isEmpty && current.configuration.getString("schedule.show.outOfWishTime").getOrElse("OFF").equalsIgnoreCase("ON")) {

        <span class="label label-danger">@lecture.getNotOptimalPlaced</span>
      }
      </div>
  </div>