@(lecture: models.persistence.lecture.Lecture, isOnline:Boolean)

@import models.persistence.enumerations.{EDuration, ELectureKind}
@import play.api.Play.current

  <div class="panel panel-info small smalltext ">
    <div class="panel-heading">
      @if(isOnline) {
        @lecture.getLectureParticipants.map { p =>
         <small> <strong class="hidden lecturetitle @p.getCourseName">  @lecture.getShortName(p.getCourseName)</strong></small>
        }
      } else {
        @lecture.getLectureParticipants.map(p=> lecture.getShortName(p.getCourseName)).toSet.map{ lectureName:String =>
          <p><small><strong>@lectureName</strong></small></p>
        }
      }
      </div>
    <div class="panel-body @{
      lecture.getDuration match {
        case EDuration.EVEN => "bg-warning"
        case EDuration.UNEVEN => "bg-primary"
        case EDuration.WEEKLY => "bg-info"
        case other => "bg-danger " + other
      }
    }" >

      <div class="pull-right">
        <span class="glyphicon @{
          lecture.getKind match {
            case ELectureKind.EXERCISE => "glyphicon-hdd"
            case ELectureKind.LECTURE => "glyphicon-book"
          }
        } " >
        </span>
      </div>
      @if(lecture.getKind == ELectureKind.EXERCISE ) {
        <div>
          <small>@lecture.getLectureParticipants.map(_.getGroupIndex).toSet.mkString(" ")  @lecture.getLectureParticipants.head.getGroupType</small>
        </div>
      }

      <div class="clearfix"></div>
      <div class="pull-right">
      <small>@lecture.getDocents.map{ d=> @d.getLastName <br/>}</small>
      </div>
      <div class="pull-left"> <small>@lecture.getLectureRoom.getHouse:@lecture.getLectureRoom.getNumber</small> </div>
      <div class="pull-left"> @lecture.getAlternativeLectureRooms.map{ lr=>
        <small><span class="label label-warning">@lr.getHouse:@lr.getNumber</span></small>
      }</div>
      @if(!lecture.getNotOptimalPlaced.isEmpty && current.configuration.getString("schedule.show.outOfWishTime").getOrElse("OFF").equalsIgnoreCase("ON")) {

        <span class="label label-danger">@lecture.getNotOptimalPlaced</span>
      }
      </div>
  </div>