@(content: Html)
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Stundenplan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.min.css").url.drop(1)">
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.structure.min.css").url.drop(1)">
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui.theme.min.css").url.drop(1)">

  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("localschedulebootstrap/css/bootstrap.min.css").url.drop(1)">
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css").url.drop(1)">
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/FeedEk.css").url.drop(1)" >

  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css").url.drop(1)">
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-select.min.css").url.drop(1)">
  <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/datepicker.css").url.drop(1)">

  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png").url.drop(1)">

    <!--[if lt IE 9]>
        <script src="@routes.Assets.at("javascripts/IE9.js").url.drop(1)" type="text/javascript"></script>

        <![endif]-->

        <!--[ IF IE ]>
        <script src ="@routes.Assets.at("javascripts/jquery-1.11.1.min.js").url.drop(1)" type="text/javascript"></script>
        <![ENDIF]-->

        <!--[IF !IE] -->
        <script src="@routes.Assets.at("javascripts/jquery-2.1.0.min.js").url.drop(1)" type="text/javascript"></script>
    <!--<![ENDIF]-->

  <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js").url.drop(1)" type="text/javascript"></script>
  <script src="@routes.Assets.at("localschedulebootstrap/js/bootstrap.min.js").url.drop(1)" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/modernizr.custom.60350.js").url.drop(1)" type="text/javascript"></script>

  <script src="@routes.Assets.at("javascripts/bootstrap-select.min.js").url.drop(1)" type="text/javascript"></script>

  <script src="@routes.Assets.at("javascripts/bootstrap.file-input.js").url.drop(1)" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/jquery.serializeObject.js").url.drop(1)" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/jquery.sortable.js").url.drop(1)" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/jquery-ui.min.js").url.drop(1)" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/main.js").url.drop(1)" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/FeedEkbootstrap.js").url.drop(1)" type="text/javascript"></script>
</head>
<body>
<article>
    @content
</article>
    <footer id="footer">
        <div class="container text-muted text-center" >
            Author: Fabian Markert
            <ul class="list-unstyled list-inline">
                <li><a href="https://github.com/P1tt187">github</a> </li>
                <li><a href="https://plus.google.com/+FabianMarkert">Google Plus</a> </li>
            </ul>
        </div>
    </footer>
    <script >

        $ ( window ).on ( 'load', function ( ) {

        initSelect ( ) ;
        $ ( "input[type='file']" ).bootstrapFileInput ( ) ;
        } ) ;

        $ ( ".dropdown-submenu" ).on ( "mouseover", function ( e ) {
        this.dropdown ( ) ;
        } ) ;

        </script>
    <script src="@routes.Assets.at("javascripts/coffee-script.js").url.drop(1)" type="text/javascript"></script>
</body>
</html>