@import java.text.SimpleDateFormat
@import java.util.Calendar
@(title:String,courseNames:List[String],timeRanges: List[models.fhs.pages.basicstuctures.TimeRange], timeslots: List[models.persistence.scheduletree.TimeSlot], semester:models.persistence.Semester, courses:List[persistence.participants.Course],lectureShortCuts:Map[String,String])(implicit session:Session)

@import models.fhs.pages.timeslot.MTimeslotDisplay
@import models.persistence.scheduletree.Weekday
@import models.persistence.enumerations.EDuration

@localmain{

    @defining(MTimeslotDisplay.WEEKDAYS.filter{
        case (sortIndexString,dayname)=>
            val sortIndex=sortIndexString.toInt
            !timeslots.find(_.getParent.asInstanceOf[Weekday].getSortIndex.toInt == sortIndex).isEmpty
    }.sortBy(_._1)) { days=>

        <nav class="navbar navbar-fixed-top navbar-inverse ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">FHS</a>
                </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav nav-tabs">
                        <li role="presentation" id="newsMenu" class="active"><a aria-controls="news-pane" role="tab" data-toggle="tab" href="#news-pane"> News </a> </li>
                        <li role="presentation" id="onlinePaneMenu" >  <a aria-controls="online-pane" role="tab" data-toggle="tab" href="#online-pane"> Stundenplan </a> </li>
                        <li role="presentation" id="localPaneMenu" ><a aria-controls="local-pane" role="tab" data-toggle="tab" href="#local-pane"> Persönlicher Plan </a> </li>
                        <li role="presentation" id="shortcutPaneMenu"><a aria-controls="shortcut-pane" role="tab" data-toggle="tab" href="#shortcut-pane"> Abkürzungsverzeichnis </a> </li>
                        <li role="presentation" id="goupPaneMenu"><a aria-controls="group-pane" role="tab" data-toggle="tab" href="#group-pane"> Gruppen </a> </li>
                        <li role="presentation" id="blockPaneMenu"> <a aria-controls="block-pane" role="tab" data-toggle="tab" href="#block-pane"> Blockveranstaltungen </a> </li>
                    </ul>
                </div>
            </div>
        </nav>
<br/>
<br/>
            <div class="alert alert-warning hidden" id="noLocalStorageSupportWarning"><span class="glyphicon"></span> <span class="glyphicon glyphicon-alert"></span> Warnung: Ihr Browser unterstützt kein Localstorage, daher steht der Persönliche Stundenplan nicht zur Verfügung. </div>
            <span class="glyphicon"></span>
            <div class="form-inline">
                <div class="form-group">
                    <label for="courseSelect" class="control-label">Kurs</label>
                    <select id="courseSelect">
                        @courseNames.map{ name=>
                            <option value="@name">@name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="weekSelect" class="control-label"> Art der Woche </label>
                    <select id="weekSelect">
                        <option value="all">Alle</option>
                        <option value="@EDuration.EVEN">gerade</option>
                        <option value="@EDuration.UNEVEN">ungerade</option>
                    </select>
                </div>
                <!--div class="form-group">
                    <a class="btn btn-info btn-sm" href="#" download="settings.json" id="exportbtn"> <span class="glyphicon glyphicon-download"></span> </a>
                </div-->
            </div>
            <div>Stand: <strong><span class="text-danger"> @{ new SimpleDateFormat("dd.MM.yyyy").format(Calendar.getInstance().getTime) } </span></strong> </div>
        <div> Es ist die <strong id="weekNumber"></strong> Kalenderwoche, eine <span class="hidden text-warning" id="even"><strong>gerade</strong></span> <span class="hidden text-primary" id="uneven"><strong>ungerade</strong></span> Woche</div>
        <div class="clearfix"></div>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="news-pane">
            <div id="news-content" class="center-block" style="align-content: center"></div>
            <div class="clearfix"></div>
            </div>
            <div class="tab-pane fade " id="online-pane">
                <div class="hidden-xs hidden-sm">
                  @displaySchedule(true,days,timeRanges,timeslots,semester)
                </div>

                <div class="visible-xs visible-sm">
                @displayMobileSchedule(true,days,timeRanges,timeslots,semester)
                </div>

            </div>
            <div class="tab-pane fade " id="local-pane">
                <div class="hidden-xs hidden-sm">
                  @displaySchedule(false,days,timeRanges,timeslots,semester)
                </div>
                <div class="visible-xs visible-sm">
                @displayMobileSchedule(false,days,timeRanges,timeslots,semester)
                </div>
            </div>
            <div class="tab-pane fade" id="shortcut-pane">
                <table class="table table-bordered table-striped table-condensed">
                    <caption class="caption text-center"><h4> Abkürzungsverzeichnis der Lehrveranstaltungen </h4></caption>

                    <tbody>
                    @lectureShortCuts.toList.sortBy(_._1).map{ case (key,value) =>
                        <tr>
                            <td class="text-right" style="width: 45%">@key</td>
                            <td class="text-left">@value</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="group-pane">
               @displayGroups(courses)
            </div>
            <div class="tab-pane fade" id="block-pane">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="block/bindex.html">
                        <div class="alert alert-danger">
                            <span class="glyphicon glyphicon-alert"></span> Die Datei bindex.html wurde nicht gefunden!
                        </div>
                    </iframe>
                </div>
            </div>
        </div>
      <script>
          /** Selects course or week */
          /***************************/
          var courseChange = function(){
          $('.lecture').addClass("hidden");
          $('.lecturetitle').addClass("hidden");
          $('.groupcontainer').addClass("hidden");
          $('.' + $('#courseSelect').val()).removeClass('hidden');
          var selectedWeek = $('#weekSelect').val();
            if(selectedWeek == '@EDuration.EVEN' ){
               $('.@EDuration.UNEVEN').addClass('hidden');
             } if(selectedWeek == '@EDuration.UNEVEN' ){
               $('.@EDuration.EVEN').addClass('hidden');
             }
           if(typeof localStorage !== "undefined"){
           localStorage.setItem('lastCourse',$('#courseSelect').val()) ;
           }
          };
          $('#courseSelect').change(courseChange);
          $('#weekSelect').change(courseChange);
         // $('#courseSelect').val($('#courseSelect').first().val());


          /***************************/
          /**store to personal schedule*/
          $('.lecture').click(function(){
          $(this).children().first().removeClass('panel-info').addClass('panel-success');
          $('.'+$(this).data('uuid')).removeClass('hidden');
          var uuids = JSON.parse( localStorage.getItem('localLectures')||'[]');
          uuids.push($(this).data('uuid'));
          localStorage.setItem('localLectures',JSON.stringify(uuids)) ;
          });

          /**remove from personal schedule*/
            $('.localLecture').click(function(){
            $(this).addClass('hidden');
            var uuids = JSON.parse( localStorage.getItem('localLectures')||'[]');
            var removeUuid = $(this).data('uuid');
            uuids.splice(uuids.indexOf(removeUuid),1);
           // $('.' + removeUuid).addClass('panel-info').removeClass('panel-success');
            localStorage.setItem('localLectures',JSON.stringify(uuids)) ;
            });

          /** tab navigation*/
          $('#navbar-collapse a').click(function (e) {
          e.preventDefault();
           $(this).tab('show');
           if(typeof localStorage !== "undefined"){
           var activeTab = $(this).parent().attr('id');
           localStorage.setItem("lastMenu",activeTab);
           }
           });

           $('[data-dayindex="' + new Date().getDay() + '"]').tab('show');

           $(window).on('load',function(){
               if(typeof localStorage !== "undefined"){
               var lastMenu = localStorage.getItem("lastMenu")||"nothing";
               var lastCourse = localStorage.getItem("lastCourse")||$('#courseSelect').first().val();
               $('#'+lastMenu + ' a').tab('show');
               $('#courseSelect').val(lastCourse);

               var uuids = JSON.parse( localStorage.getItem('localLectures')||'[]');
               uuids.forEach(function(element){
               $('.'+element).removeClass('hidden');
               });
           }

           var weeknumber = new Date().getWeek();
           $('#weekNumber').html(weeknumber);
           if(weeknumber % 2 == 0){
           $('#even').removeClass('hidden');
           $('#weekSelect').val('@EDuration.EVEN');
           } else {
           $('#uneven').removeClass('hidden');
           $('#weekSelect').val('@EDuration.UNEVEN');
           }
            courseChange();
           $('#news-content').FeedEk({
            FeedUrl: 'https://studip.fh-schmalkalden.de/rss.php?id=a88776e9ec68c2990f6cbb5ff8609752',
            ShowDesc: true,
            ShowPubDate: true,
            MaxCount:100,
            DateFormatLang:"de"
            });

           if(typeof localStorage == 'undefined'){
           $('#noLocalStorageSupportWarning').removeClass('hidden');
           $('#localPaneMenu').addClass('hidden');
           }

           });

           $('#exportbtn').click(function(){
           var uuids = JSON.parse( localStorage.getItem('localLectures')||'[]');
           this.href="data:text/plain;charset=UTF-8," + encodeURIComponent(JSON.stringify(uuids));
           });


      </script>
    }
}