@(title:String,courseNames:List[String],timeRanges: List[models.fhs.pages.basicstuctures.TimeRange], timeslots: List[models.persistence.scheduletree.TimeSlot], semester:models.persistence.Semester, courses:List[persistence.participants.Course],lectureShortCuts:Map[String,String])(implicit session:Session)


@import models.persistence.scheduletree.Weekday

@localmain{
<div class="clearfix"></div><div class="clearfix"></div>
    @defining(CTimeslotDefintion.WEEKDAYS.filter{
        case (sortIndexString,dayname)=>
            val sortIndex=sortIndexString.toInt
            !timeslots.find(_.getParent.asInstanceOf[Weekday].getSortIndex.toInt == sortIndex).isEmpty
    }.sortBy(_._1)) { days=>

        <nav class="navbar navbar-fixed-top navbar-inverse ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">FHS</a>
                </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav nav-tabs">
                        <li role="presentation" class="active"><a aria-controls="online-pane" role="tab" data-toggle="tab" href="#online-pane"> Stundenplan </a> </li>
                        <li role="presentation" ><a aria-controls="local-pane" role="tab" data-toggle="tab" href="#local-pane"> Persönlicher Plan </a> </li>
                        <li role="presentation" ><a aria-controls="shortcut-pane" role="tab" data-toggle="tab" href="#shortcut-pane"> Abkürzungsverzeichnis </a> </li>
                        <li role="presentation" ><a aria-controls="group-pane" role="tab" data-toggle="tab" href="#group-pane"> Gruppen </a> </li>
                        <li role="presentation"> <a aria-controls="block-pane" role="tab" data-toggle="tab" href="#block-pane"> Blockveranstaltungen </a> </li>
                    </ul>
                </div>
            </div>
        </nav>
<br/>

            <div class="form-inline">
                <div class="form-group">
                    <select id="courseSelect">
                        @courseNames.map{ name=>
                            <option value="@name">@name</option>
                        }
                    </select>
                </div>
                <div> Es ist die <strong id="weekNumber"></strong> Kalenderwoche, eine <span class="hidden text-warning" id="even"><strong>gerade</strong></span> <span class="hidden text-primary" id="uneven"><strong>ungerade</strong></span> Woche</div>
                <!--div class="form-group">
                    <a class="btn btn-info btn-sm" href="#" download="settings.json" id="exportbtn"> <span class="glyphicon glyphicon-download"></span> </a>
                </div-->
            </div>
        <div class="clearfix"></div>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="online-pane">
                <div class="hidden-xs hidden-sm">
                  @displaySchedule(true,days,timeRanges,timeslots,semester)
                </div>

                <div class="visible-xs visible-sm">
                @displayMobileSchedule(true,days,timeRanges,timeslots,semester)
                </div>

            </div>
            <div class="tab-pane fade " id="local-pane">
                <div class="hidden-xs hidden-sm">
                  @displaySchedule(false,days,timeRanges,timeslots,semester)
                </div>
                <div class="visible-xs visible-sm">
                @displayMobileSchedule(false,days,timeRanges,timeslots,semester)
                </div>
            </div>
            <div class="tab-pane fade" id="shortcut-pane">
                <table class="table table-bordered table-striped table-condensed">
                    <caption class="caption text-center"><h4> Abkürzungsverzeichnis der Lehrveranstaltungen </h4></caption>

                    <tbody>
                    @lectureShortCuts.toList.sortBy(_._1).map{ case (key,value) =>
                        <tr>
                            <td class="text-right" style="width: 45%">@key</td>
                            <td class="text-left">@value</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="group-pane">
               @displayGroups(courses)
            </div>
            <div class="tab-pane fade" id="block-pane">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="block/bindex.html">
                        <div class="alert alert-danger">
                            <span class="glyphicon glyphicon-alert"></span> Die Datei bindex.html wurde nicht gefunden!
                        </div>
                    </iframe>
                </div>
            </div>
        </div>
      <script>
      var courseChange = function(){
          $('.lecture').addClass("hidden");
          $('.lecturetitle').addClass("hidden");
          $('.groupcontainer').addClass("hidden");
          $('.' + $('#courseSelect').val()).removeClass('hidden');
          };
          $('#courseSelect').change(courseChange);
         // $('#courseSelect').val($('#courseSelect').first().val());
          courseChange();

          /**store to personal schedule*/
          $('.lecture').click(function(){
          $(this).children().first().removeClass('panel-info').addClass('panel-success');
          $('.'+$(this).data('uuid')).removeClass('hidden');
          var uuids = JSON.parse( localStorage.getItem('localLectures')||'[]');
          uuids.push($(this).data('uuid'));
          localStorage.setItem('localLectures',JSON.stringify(uuids)) ;
          });

          /**remove from personal schedule*/
            $('.localLecture').click(function(){
            $(this).addClass('hidden');
            var uuids = JSON.parse( localStorage.getItem('localLectures')||'[]');
            uuids.splice(uuids.indexOf($(this).data('uuid')),1);
            localStorage.setItem('localLectures',JSON.stringify(uuids)) ;
            });

          /** tab navigation*/
          $('#navbar-collapse a').click(function (e) {
          e.preventDefault();
           $(this).tab('show');
           });

           $(window).on('load',function(){
           var uuids = JSON.parse( localStorage.getItem('localLectures')||'[]');
           uuids.forEach(function(element){
           $('.'+element).removeClass('hidden');
           });

           var weeknumber = new Date().getWeek()+1;
           $('#weekNumber').html(weeknumber);
           if(weeknumber % 2 == 0){
           $('#even').removeClass('hidden');
           } else {
           $('#uneven').removeClass('hidden');
           }

           });

           $('#exportbtn').click(function(){
           var uuids = JSON.parse( localStorage.getItem('localLectures')||'[]');
           this.href="data:text/plain;charset=UTF-8," + encodeURIComponent(JSON.stringify(uuids));
           });
      </script>
    }
}