@(course: models.persistence.participants.Course, allRooms:List[persistence.location.RoomEntity])


<br/>

<div class="row-fluid">
    <div class="col-md-12">

        <form class="form-inline" role="form" id="courseFieldForm">
            <div class="form-group">
                <label for="courseName" class="control-label">Kursname</label>
                <input class="form-control" type="text" name="courseName" id="courseName" value="@course.getFullName" required/>
            </div>

            <div class="form-group">
                <label for="courseShortName" class="control-label">Abkürzung</label>
                <input class="form-control " type="text" name="courseShortName" id="courseShortName" value="@course.getShortName" required/>
            </div>
            <div class="form-group" id="courseSizeContainer">
                <label for="courseSize" class="control-label">Kursstärke</label>
                <input type="number" class="form-control" name="courseSize" id="courseSize" value="@course.getSize" step="1" min="1" required/>
            </div>

            <div class="form-group">
                <label class="control-label" for="classRoom">Klassenraum</label>
                <select class="form-control" name="classRoom" id="classRoom">
                    <option value="-1" @if(course.getClassRoom==null){selected}> keiner </option>
                    @for(r<-allRooms){
                        <option value="@r.getId" @if(course.getClassRoom!= null && course.getClassRoom.compareTo(r)==0){selected } >@r.getHouse.getName @r.getNumber</option>
                    }
                </select>
            </div>
            <br/>
            <br/>
            <div class="form-group">
                <button class="btn btn-success" type="submit" ><span class="glyphicon glyphicon-ok-sign"></span> </button>
            </div>
            <div class="form-group">
                <button id="deleteCurseBtn" class="btn btn-danger" type="button" ><span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </form>
        <div class="clearfix"></div>
        <br />
        <form class="form-inline" method="post" action="@routes.CEditCourses.generateStudentsForCourse(course.getId)">
            <div class="form-group">
                <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-refresh"></span> Generiere Studenten</button>
            </div>
        </form>

    </div>
    <div class="clearfix"></div>
    <div class="col-md-5 hidden" id="deleteErrorContainer">
        <div class="alert alert-danger">
            Fehler <span class="glyphicon glyphicon-thumbs-down"></span><br/>
            Die Folgenden Veranstaltungen sind noch mit dem Kurs verknüpft:
            <ul id="displayDeleteError"></ul>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row-fluid">
    <br />
    <div id="courseEditResult" class="col-md-5"></div>
</div>
<div class="clearfix"></div>

<script type="text/javascript">
initSelect ( ) ;


    $('#deleteCurseBtn' ).on('click',function(){
        console.log('delete Button Clicked');
        $.ajax({
        type : "POST",

        url: "@routes.CEditCourses.deleteCourse(course.getId)",
        success : function ( callback ) {
            $(location ).attr('href','@routes.CEditCourses.page()');
        },
        error:function(jqXHR ,  textStatus,  errorThrown){
            console.log( jqXHR.responseText);
        var errorString = '';
        jqXHR.responseText.split(',').forEach(function(element){
                errorString+= '<li>' + element + '</li>'
            });
            $('#deleteErrorContainer' ).removeClass('hidden');
            $('#displayDeleteError' ).html(errorString);
        }
        });
    });


$ ( '#courseFieldForm' ).on ( 'submit', function ( e ) {
e.preventDefault ( ) ;
$ ( '.has-error' ).removeClass ( 'has-error' ) ;
if ( ! $.isNumeric ( $ ( '#courseSize' ).val ( ) ) ) {
$ ( '#courseSizeContainer' ).addClass ( 'has-error' ) ;
return ;
}

var formData = $ ( '#courseFieldForm' ).serializeObject ( ) ;

formData[ 'courseId' ] = @course.getId ;

$.ajax ( {
cache : false,
type : "POST",
dataType : "json",
data : JSON.stringify ( formData ),
context : this,
contentType : "application/json; charset=utf-8",
url : " @routes.CEditCourses.saveCourseData ",
success : function ( callback ) {
console.log ( JSON.stringify ( callback ) ) ;

$ ( '#courseEditResult' ).empty ( ).append ( '<div class="alert alert-success">Erfolg <span class="glyphicon glyphicon-thumbs-up"></span></div>' ) ;

},

error : function ( callback ) {
// error handler
console.log ( JSON.stringify ( callback ) ) ;
$ ( '#courseEditResult' ).empty ( ).append ( '<div class="alert alert-danger">Fehler <span class="glyphicon glyphicon-thumbs-down"></span></div>' ) ;

var response = callback.responseJSON ;
$ ( '#' + response.result ).addClass ( 'has-error' ) ;

}
} ) ;

console.debug ( JSON.stringify ( formData ) ) ;
} ) ;
</script>

<div class="page-header">
    <h3>Gruppen bearbeiten</h3>
</div>
<div class="row-fluid">
    <form id="addGroup" class="form-inline">
        <div class="form-group">
            <label for="addGroupTypeName" class="control-label ">Gruppentyp</label>
            <input id="addGroupTypeName" name="addGroupTypeName" type="text" class="form-control" required placeholder="Gruppentyp"/>
        </div>
        <div class="form-group" id="addGroupCountContainer">
            <label for="addGroupCount" class="control-label">Anzahl der Gruppen</label>
            <input id="addGroupCount" name="addGroupCount" type="number" class="form-control" required placeholder="Anzahl" min="1"/>
        </div>

        <div class="form-group" >
            <label for="submitAddGroup" class="control-label"> <span class="glyphicon"></span> </label>
            <button id="submitAddGroup" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> </button>
        </div>
    </form>
</div>
<div class="clearfix"></div>
<div class="row-fluid">
    <br/>
    <div id="addGroupResult" class="col-md-5"></div>
</div>
<div class="clearfix"></div>
<script type="text/javascript">
$ ( '#addGroup' ).on ( 'submit', function ( e ) {
e.preventDefault ( ) ;
$ ( '.has-error' ).removeClass ( 'has-error' ) ;

if ( ! $.isNumeric ( $ ( '#addGroupCount' ).val ( ) ) ) {
$ ( '#addGroupCountContainer' ).addClass ( 'has-error' ) ;
return ;
}
var formData = $ ( '#addGroup' ).serializeObject ( ) ;

formData[ 'courseId' ] = @course.getId ;
formData[ 'addGroupCount' ] = Number ( formData[ 'addGroupCount' ] ) ;

$.ajax ( {
cache : false,
type : "POST",
dataType : "json",
data : JSON.stringify ( formData ),
context : this,
contentType : "application/json; charset=utf-8",
url : "@routes.CEditCourses.saveGroupData",
success : function ( callback ) {
console.log ( JSON.stringify ( callback ) ) ;

$ ( '#addGroupResult' ).empty ( ).append ( '<div class="alert alert-success">Erfolg <span class="glyphicon glyphicon-thumbs-up"></span></div>' ) ;

$ ( '#bigGroupContainer' ).append ( callback.htmlresult ) ;

},

error : function ( callback ) {
// error handler
console.log ( JSON.stringify ( callback ) ) ;
$ ( '#addGroupResult' ).empty ( ).append ( '<div class="alert alert-danger">Fehler <span class="glyphicon glyphicon-thumbs-down"></span></div>' ) ;


var response = callback.responseJSON ;
$ ( '#' + response.result ).addClass ( 'has-error' ) ;

}
} ) ;

console.debug ( JSON.stringify ( formData ) ) ;
} ) ;
</script>

<div id="bigGroupContainer">

@if(course.getGroups != null) {
    @defining(course.getGroups.toList.groupBy(_.getGroupType)) { coursesGroups =>
            @coursesGroups.keySet.toList.sortBy( gt=> -coursesGroups(gt)(0).getSize ).par.map { groupType=>
                @for(group <- coursesGroups(groupType).sortBy(_.getGroupIndex)) {
                    @groupFields(group)
                }
                <div class="clearfix"></div>
            }.seq
    }
}

</div>