@(message: String, courses: List[models.persistence.participants.Course], courseForm:Form[fhs.pages.editcourses.MCourse])(implicit flash: Flash, session:Session, messages:Messages)

@import views.html.helper._
@import navigation.ENavigation._

@main(message, EDITCOURSES) {

    <div class="page-header">
        <h3> Kurs hinzufügen </h3>
    </div>
    @form(action= routes.CEditCourses.addCourse(),'class->"form-inline"){
        @inputText(courseForm("longName"), '_class->"form-group",'_label->"Kursname",'_help->"")
        @inputText(courseForm("shortName"), '_class->"form-group",'_label->"Abkürzung",'_help->"")
        @inputText(courseForm("size"), '_class->"form-group",'_label->"Kursstärke",'_help->"")
        <div class="form-group">
            <label class="control-label"> <span class="glyphicon"></span> </label>
            <button class="form-control btn btn-success" type="submit"> <span class="glyphicon glyphicon-plus"></span> </button>
        </div>
    }

    <div class="page-header">
      <h3> Kurse bearbeiten </h3>
    </div>

    <div class="row-fluid">
        <div class="col-md-9">
            <div class="form-inline">
                <div class="form-group">
                    <label for="courseSelect" class="control-label">Kurs Auswählen</label>
                    <select id="courseSelect" class="form-control">
                    @for(course <- courses) {
                        <option @if(course.getId.toString.equals(session.get(EDITCOURSES.name()+".editcourse").getOrElse("-1"))){selected } value="@course.getId">@course.getShortName</option>
                    }
                    </select>
                </div>
            </div>
        </div>
    </div>



    <div class="clearfix"></div>

    <div id="courseFields"></div>

    <div class="clearfix"></div>
    <div id="studentFields"> </div>



<script type="text/javascript">
    var getCourseAndStudentFields = function(){
    $.getJSON("/editCourses/studentFields/" + $('#courseSelect' ).val(), function(data){
    $('#studentFields' ).empty( ).
    append(data.htmlresult);
    });

    $.getJSON("/editCourses/courseFields/" + $('#courseSelect' ).val(), function(data){
        $('#courseFields' ).empty().
           append(data.htmlresult);
    });
    };

    $('#courseSelect' ).on('change',getCourseAndStudentFields);

    $('#@courseForm("size").id' ).attr('type','number');

$(window ).on('load', function(){
getCourseAndStudentFields();
});

</script>
}
