@(group: models.persistence.participants.Group)
<div class="col-md-3" id="groupContainer@group.getId">
    <div class="panel-group" >
        <div class="panel panel-primary">
            <div class="panel-heading"><h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#groupContainer@group.getId" href="#collapse@group.getId" id="heading@group.getId">
                @group.getGroupType @group.getGroupIndex
                </a>
            </h4>
            </div>
            <div class="panel-collapse collapse " id="collapse@group.getId">
                <div class="panel-body">
                    <form id="groupForm@group.getId" class="form-inline" role="form">
                        <div class="form-group">
                            <label class="control-label" for="type@group.getId">Gruppentyp</label>
                            <input name="grouptype" id="type@group.getId" class="form-control" type="text" value="@group.getGroupType" required>
                        </div>
                        <div class="form-group">
                            <label>
                                <input @if(group.isIgnoreGroupIndex == true){checked} value="true" id="ignoreIndex@group.getId" name="ignoreGroupIndex" class="form-control" type="checkbox"> Index ignorieren
                            </label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label class="control-label" for="edit@group.getId"><span class="glyphicon"></span></label>
                            <button id="edit@group.getId" type="submit" class="btn btn-success"><span class="glyphicon glyphicon glyphicon-ok-sign"></span> </button>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="delete@group.getId"><span class="glyphicon"></span></label>
                            <button role="button" id="delete@group.getId" type="reset" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span></button>
                        </div>
                    </form>
                    <br/>
                    <div class="form-inline" id="result@group.getId"></div>
                    <div class="clearfix"></div>

                    <table class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <th class="text-info">Namen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(student<-group.getStudents.toList.sortBy(s=>(s.getLastName,s.getFirstName))) {
                                <tr>

                                    <td>
                                        @student.getFirstName @student.getLastName
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                    <script type="text/javascript">

                    $ ( '#delete@group.getId ').on(' click ',function(e){

                    e.preventDefault ( ) ;
                    $.getJSON ( '  @routes.CEditCourses.deleteGroup(group.getId) ')
                    .done ( function ( ) {
                    $ ( '#groupContainer@group.getId ').remove();
                    } ).fail ( function ( callback ) {
                    console.log ( JSON.stringify ( callback ) ) ;
                    $ ( '#result@group.getId ' ).empty ( ).append ( ' <div class = "alert alert-danger" > Fehler <span class = "glyphicon glyphicon-thumbs-down" > </span></div > ' ) ;
                    } ) ;
                    } ) ;

                    $ ( '#groupForm@group.getId ' ).on ( ' submit ', function ( e ) {
                    e.preventDefault ( ) ;
                    $ ( '.has-error' ).removeClass ( 'has-error' ) ;

                    var formData = $ ( '#groupForm@group.getId ' ).serializeObject ( ) ;

                    formData[ 'groupId' ] = @group.getId ;
                    formData['ignoreGroupIndex'] = Boolean(formData['ignoreGroupIndex']) ;

                    $.ajax ( {
                    cache : false,
                    type : "POST",
                    dataType : "json",
                    data : JSON.stringify ( formData ),
                    context : this,
                    contentType : "application/json; charset=utf-8",
                    url : "  @routes.CEditCourses.updateGroup ",
                    success : function ( callback ) {
                    console.log ( JSON.stringify ( callback ) ) ;

                    $ ( '#result@group.getId ' ).empty ( ).append ( ' <div class = "alert alert-success" > Erfolg <span class = "glyphicon glyphicon-thumbs-up" > </span></div> ' ) ;
                    $('#heading@group.getId').html($('#type@group.getId').val());

                    },

                    error : function ( callback ) {
                    // error handler
                    console.log ( JSON.stringify ( callback ) ) ;
                    $ ( '#result@group.getId ' ).empty ( ).append ( ' <div class = "alert alert-danger" > Fehler <span class = "glyphicon glyphicon-thumbs-down" > </span></div> ' ) ;

                    var response = callback.responseJSON ;
                    $ ( '#' + response.result ).addClass ( 'has-error' ) ;

                    }
                    } ) ;

                    console.debug ( JSON.stringify ( formData ) ) ;
                    } ) ;


                    </script>
                    <br />

                </div>
            </div>
        </div>
    </div>
</div>