@(course:models.persistence.participants.Course)

@import models.persistence.participants.Group

@if(course.getGroups != null) {
  @defining(course.getGroups.toList.groupBy(_.getGroupType)) { coursesGroups =>
    @coursesGroups.keySet.toList.sortBy( gt=> -coursesGroups(gt)(0).getSize ).par.map { groupTypes=>
    <div class="panel panel-primary" >
      <div class="panel-heading"><h4 class="panel-title text-center"> <a  href="#parent@groupTypes" data-toggle="collapse" aria-expanded="false" aria-controls="parent@groupTypes">
                        Einteilung: @groupTypes, @coursesGroups(groupTypes).size Gruppen je @{ course.getSize / coursesGroups(groupTypes).size } Studenten
      </a> </h4> </div>
      <div class="panel-collapse collapse" id="parent@groupTypes">
        <div class="panel-body">
            <form class="form-inline" id="form@groupTypes">
                <div class="form-group">
                    <button type="button" class="help-ignore-groupindex-button btn btn-sm btn-info" data-toggle="popover" title="Hilfe" ><span class="glyphicon glyphicon-question-sign"></span> </button>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="true" name="ignoreGroupIndex" @if(coursesGroups(groupTypes).head.isIgnoreGroupIndex) {checked}/> Gruppenindex verbergen
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span> </button>
                </div>
                <div class="form-group">
                    <button type="button" class="help-groupmanagement btn btn-sm btn-info" data-toggle="popover" title="Hilfe" ><span class="glyphicon glyphicon-question-sign"></span> </button>
                </div>
            </form>
            <script>
                $('#form@groupTypes').on('submit',function(e){
                e.preventDefault( );

                var studentBuffer = [];
                $('.subform@groupTypes').each(function(index, value){
                    var formData = $(value).serializeObject();
                    formData['id'] = Number(formData['id']);
                    formData['groupindex'] = $(value).parents('.@groupTypes').data('groupindex');
                    studentBuffer.push(formData);
                 });

                 var formData = $(this).serializeObject();
                 formData['ignoreGroupIndex'] = formData['ignoreGroupIndex'] == 'true';
                 formData['students'] = studentBuffer;
                $.ajax ( {
                cache : false,
                type : "POST",
                dataType : "json",
                data : JSON.stringify ( formData ),
                context : this,
                contentType : "application/json; charset=utf-8",
                url : "@routes.CEditCourses.updateGroup(course.getId,groupTypes)",
                success : function ( callback ) {
                console.log ( JSON.stringify ( callback ) ) ;

                //$ ( '#bigGroupContainer' ).append ( '<div class="clearfix"></div>' +  callback.htmlresult ) ;
                    location.reload(true);

                },

                error : function ( callback ) {
                // error handler
                console.log ( JSON.stringify ( callback ) ) ;
                $ ( '#addGroupResult' ).empty ( ).append ( '<div class="alert alert-danger">Fehler '+callback.responseText+'<span class="glyphicon glyphicon-thumbs-down"></span></div>' ) ;
                }
                } ) ;

                console.debug ( JSON.stringify ( formData ) ) ;
                });
            </script>
        <form method="POST" action="@routes.CEditCourses.removeGroupTypeFromGroup(course.getId,groupTypes)">
          <button class="btn btn-danger btn-sm" type="submit"><span class="glyphicon glyphicon-trash"></span> </button>
        </form>
        @defining(coursesGroups(groupTypes).sortBy(_.getGroupIndex)) { groups=>
          <table class="table table-responsive table-striped">
            <thead>
              <tr>
                @for(i<-1 to groups.size){
                  <th class="text-center text-info">
                           Gruppe: @i: @groups(i-1).getStudents.size Studenten
                  </th>
                }
              </tr>
            </thead>
            <tbody>
            @defining(groups.map{g:Group=> (g, g.getStudents.toList.sortBy(s=>(s.getLastName,s.getFirstName)))}.toMap) { groupWithStudents=>
              @for(i <- 0 to (groups.maxBy(_.getStudents.size).getStudents.size - 1)) {
                <tr>
                @groups.map { group =>
                  @defining(groupWithStudents(group).lift(i)){ studentOption =>
                    <td class="text-center ">
                      <ul class="list-unstyled @groupTypes" data-groupindex="@group.getGroupIndex">
                        <li class="table-bordered">
                            <div class="@if(studentOption.nonEmpty){ @studentOption.get.getUuid }">
                                @studentOption match {
                                    case Some(student) => {
                                        @student.getFirstName  @student.getLastName
                                    <form class='hidden subform@groupTypes'> <input type='number' name='id' value='@student.getId'></form>
                                    }
                                    case None =>{}
                                }
                            </div>
                        </li>
                      </ul>
                  }
                </td>
                }
                </tr>
              }
            }
            </tbody>
          </table>
        }
        </div>
      </div>

    </div>
    <div class="clearfix"></div>
    <script>
    $('.@groupTypes').sortable({
    connectWith:'.@groupTypes'
    });
   </script>
    }.seq
  }
    @helpcontent()
    <script>
    $(function () {
    $('.help-ignore-groupindex-button').popover({
    html:true,
      content:function(){
      return $('#help-ignore-groupindex').html();
      }
    });

    $('.help-groupmanagement').popover({
    html:true,
      content:function(){
      return $('#help-groupmanagement').html();
      }
    });
   });


    </script>

}