@(students: List[models.persistence.participants.Student])

<br/>
<div class="row-fluid">
    <div class="col-md-12">
        <div class="page-header">
            <h3>Studenten bearbeiten</h3>
        </div>
    </div>
    <ul class="list-unstyled list-inline">
        @students.sortBy( s=> (if(s.getLastName!=null){s.getLastName}else{""}, if(s.getFirstName!=null){s.getFirstName}else{""} )  ).map{ s=>
            <li>

                <form class="studentForm form-inline ">
                    <input name="id" class="hidden" type="number" value="@s.getId">
                    <input name="uuid" class="hidden" type="text" value="@s.getUuid">
                    <div class="form-group">
                       <label class=" control-label" for="firstName@s.getId">Vorname</label>
                       <input id="firstName@s.getId" class="form-control" type="text" name="firstName" value="@s.getFirstName">
                    </div>
                    <div class="form-group">
                        <label class=" control-label" for="lastName@s.getId">Nachname</label>
                        <input id="lastName@s.getId" class="form-control" type="text" name="lastName" value="@s.getLastName">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok-circle"></span> </button>
                    </div>
                    <div class="form-group">
                        <a data-link="@routes.CEditCourses.deleteStudent(s.getId)" class="deletebtn btn btn-sm btn-danger "><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </form>
            </li>
        }

    </ul>
    <script>
        $('.studentForm' ).on('submit', function(e){
        e.preventDefault();
            var formData = $(this ).serializeObject();
            formData.id= Number(formData.id);
            var selfObject = this;
        $.ajax ( {
        cache : false,
        type : "POST",
        dataType : "json",
        data : JSON.stringify ( formData ),
        context : this,
        contentType : "application/json; charset=utf-8",
        url : " @routes.CEditCourses.saveStudentData ",
        success : function ( callback ) {
        console.log ( JSON.stringify ( callback ) ) ;

        //$ ( '#courseEditResult' ).empty ( ).append ( '<div class="alert alert-success">Erfolg <span class="glyphicon glyphicon-thumbs-up"></span></div>' ) ;
        $(selfObject ).addClass('has-success');
        },

        error : function ( callback ) {
        // error handler
        console.log ( JSON.stringify ( callback ) ) ;
        $ ( '#courseEditResult' ).empty ( ).append ( '<div class="alert alert-danger">Fehler <span class="glyphicon glyphicon-thumbs-down"></span></div>' ) ;

        var response = callback.responseJSON ;
        $ ( '#' + response.result ).addClass ( 'has-error' ) ;
        $(selfObject ).addClass('has-error');

        }
        } ) ;

        });

        $('.deletebtn' ).on('click',function(e){
            var link = $(this ).data('link');
        $.post(link ).always(function(e){
        location.reload();
        }) ;
        });

    </script>
</div>