@(title: String, roomDefForm: Form[models.fhs.pages.roomdefinition.MRoomdefintion], weekdays: Seq[(String, String)], existingRooms: List[models.fhs.pages.roomdefinition.MRoomdisplay], allTimeSlots : List[persistence.template.TimeSlotTemplate], timeRanges: List[fhs.pages.basicstuctures.TimeRange] )(implicit session:Session,messages:Messages)

@import models.fhs.pages.roomdefinition._
@import models.fhs.pages.timeslot.MTimeslotDisplay._
@import models.persistence.enumerations.EDuration
@import views.html.helper._
@import models.fhs.pages.basicstuctures.TimeRange._
@import navigation.ENavigation._

@defaultRoom = @{MRoomdefintion(None,0,"","",false,List[String](),List[MTtimeslotCritDefine]())}

@days= @{
    WEEKDAYS.filterNot{
        case (sortIndexString,dayname)=>
            val sortIndex=sortIndexString.toInt
            allTimeSlots.find(_.getParent.getSortIndex == sortIndex).isEmpty
    }.sortBy(_._1)
}

@main(title, ROOMDEFINITION) {

    <div class="page-header">
        <h1> Räume </h1>
    </div>
    <div>
        <ul class="nav nav-tabs" id="tabNavigation" role="tablist">
            <li role="presentation" class="active"><a aria-controls="form-pane" role="tab" data-toggle="tab" href="#form-pane"> Erstellen </a> </li>
            <li role="presentation"><a aria-controls="overview-pane" role="tab" data-toggle="tab" href="#overview-pane"> Übersicht </a> </li>
            <li role="presentation"><a aria-controls="availability-pane" role="tab" data-toggle="tab" href="#availability-pane"> Verfügbarkeiten </a> </li>
        </ul>
    </div>

    <div class="clearfix"></div>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="form-pane">
                <form class="form-inline" id="roomForm">

                    <fieldset>

                        @inputText(roomDefForm("id"),'_class -> "hidden")

                        @inputText(roomDefForm("house"), '_class -> "form-group ", '_label -> "Haus", '_help -> "Gebäude")

                        @inputText(roomDefForm("number"), '_class -> "form-group ", '_label -> "Nummer", '_help -> "Raumnummer")

                        @inputText(roomDefForm("capacity"), '_class -> "form-group ", '_label -> "Kapazität", '_help -> "Wieviele Personen?")

                      @*  @checkbox(roomDefForm("disabled"), '_class -> "form-group ", '_label -> "Raum nicht verfügbar", '_help -> "Steht der Raum dieses Semester zur Verfügung?") *@

                        @inputRadioGroup(roomDefForm("disabled"), options = options("false" -> "aktiviert", "true"->"deaktiviert"), '_class -> "form-group ", '_label -> "Raum aktiviert", '_help -> "Steht der Raum dieses Semester zur Verfügung?")
                        <br/>

                        <div class="form-group">
                            <label class="control-label" for="attributes" style="display : block ;">
                                Eigenschaften
                            </label>
                            <select class="form-control" id="attributes" name="attributes" multiple title="nichts Ausgewählt">
                            @for(attr <- MRoomdefintion.ATTRIBUTES) {
                                <option value="@attr" @if(roomDefForm.value.getOrElse(defaultRoom).attributes.contains(attr)){selected} >@attr</option>
                            }
                            </select>
                        </div>
                        <div class="form-group checkbox">
                            <label  class="control-label" >
                            <input class="form-control" id="tcritsEnabled" type="checkbox"  /> Eingeschränkte Verfügbarkeit
                            </label>
                        </div>
                    </fieldset>
                    <fieldset style="margin-top : 1%">
                        <div class="form-group ">
                            <span class=" btn-group span4"><button type="submit" class="form-control btn btn-success " > <span class="glyphicon glyphicon-ok-sign"></span> </button> </span>
                            <span class=" btn-group span2">
                                <a href="@routes.CRoomDefinition.page" class=" btn btn-danger form-control " role="button">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </a>
                            </span>
                        </div>
                    </fieldset>
                </form>
                <br>
                    <fieldset>
                        <div id="timeslotcrit" class="hidden">

                            <div class="form-inline">
                                <div class="form-group">
                                    Legende:
                                </div>
                                <div class="form-group">
                                    <div class="showcase panel-info">
                                        <div class="bg-info showcase-content">w</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="showcase">
                                        <div class=" bg-warning showcase-content">g</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="showcase">
                                        <div class="bg-primary showcase-content">ug</div>
                                    </div>
                                </div>
                            </div>

                        @defining(roomDefForm.value.getOrElse(defaultRoom).timeCriterias) { existingTimeCriterias =>

                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="text-center text-info" >Uhrzeit</th>


                                            @for(day <- days) {
                                                <th class="text-info text-center" style="min-width : 100px ;"> @day._2</th>
                                            }
                                        </tr>

                                    </thead>
                                    <tbody>
                                    @for(range<-timeRanges.sorted){
                                        <tr>
                                            <td class="text-center"  style="vertical-align: middle; width : 8% ; ">
                                            @range.toString
                                            </td>
                                            @for(day <- days) {
                                            <td>
                                                @if(!allTimeSlots.find(slot=> range.compare(slot) == 0 && slot.getParent.getSortIndex == day._1.toInt).isEmpty) {
                                                    @defining(existingTimeCriterias.find( tc=> range.compare(tc) ==0 && tc.weekdays.contains(day._1.toInt) )) { matchingCrit =>
                                                        <form class="subform form-inline @if(matchingCrit.nonEmpty){ @{ EDuration.valueOf(matchingCrit.get.duration) match {
                                                            case EDuration.EVEN => "bg-warning"
                                                            case EDuration.UNEVEN => "bg-primary"
                                                            case EDuration.WEEKLY => "bg-info"
                                                            case _ => "bg-danger"

                                                        }
                                                        } } "  >
                                                            <div class="container center-block ">
                                                                <div class="form-group" >
                                                                    <div class="radio">
                                                                        <label>
                                                                            <input class="form-control weekly" name="timerange" type="radio" value="@{""+range.startHour + "-" + range.startMinute + "," + range.stopHour + "-" + range.stopMinute},@day._1,@EDuration.WEEKLY" @if(matchingCrit.nonEmpty && matchingCrit.get.duration.equalsIgnoreCase(EDuration.WEEKLY.name())){checked}> w
                                                                        </label>
                                                                    </div>
                                                                    <div class="radio">
                                                                        <label>
                                                                            <input class="form-control even" name="timerange" type="radio" value="@{""+range.startHour + "-" + range.startMinute + "," + range.stopHour + "-" + range.stopMinute},@day._1,@EDuration.EVEN" @if(matchingCrit.nonEmpty && matchingCrit.get.duration.equalsIgnoreCase(EDuration.EVEN.name())){checked}> g
                                                                        </label>
                                                                    </div>
                                                                    <div class="radio">
                                                                        <label>
                                                                            <input class="form-control uneven" name="timerange" type="radio" value="@{""+range.startHour + "-" + range.startMinute + "," + range.stopHour + "-" + range.stopMinute},@day._1,@EDuration.UNEVEN" @if(matchingCrit.nonEmpty && matchingCrit.get.duration.equalsIgnoreCase(EDuration.UNEVEN.name())){checked}> ug
                                                                        </label>
                                                                    </div>
                                                                    <div class="radio">
                                                                        <label>
                                                                            <input class="form-control unavailable" name="timerange" type="radio" value="unavailable" @if(matchingCrit.isEmpty){checked}> N
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </form>
                                                    }
                                                }
                                            </td>
                                            }

                                        </tr>
                                    }
                                    </tbody>
                          </table>
                            </div>
                        }

                            </div>

                    </fieldset>


                <div class="col-md-5 resultError hidden alert alert-danger alert-dismissable">Fehler <span class="glyphicon glyphicon-thumbs-down"></span>  </div>

                <script type="text/javascript">
                /** tab navigation*/
                $('#tabNavigation a').click(function (e) {
                  e.preventDefault();
                  $(this).tab('show');
                });
                /** form stuff */
                var i = @roomDefForm.value.getOrElse(defaultRoom).timeCriterias.size ;

                if(i>0){
                $('#timeslotcrit' ).removeClass('hidden');
                    $('#tcritsEnabled' ).attr('checked','checked');
                }

                    /**register event handlers to change background in table*/
                    $('.weekly' ).on('click', function(){
                        $(this ).parents('form' ).removeClass('bg-primary').removeClass('bg-warning' ).addClass('bg-info');
                    });
                    $('.even' ).on('click', function(){
                    $(this ).parents('form' ).removeClass('bg-primary').removeClass('bg-info' ).addClass('bg-warning');
                    });
                    $('.uneven' ).on('click', function(){
                    $(this ).parents('form' ).removeClass('bg-info').removeClass('bg-warning' ).addClass('bg-primary');
                    });
                    $('.unavailable' ).on('click', function(){
                    $(this ).parents('form' ).removeClass('bg-primary').removeClass('bg-warning' ).removeClass('bg-info');
                    });

                    /** enable the checkbox if there are timecrits */
                $('#tcritsEnabled' ).on ( 'change', function(){
                    if($(this ).is(':checked')){
                    $('#timeslotcrit' ).removeClass('hidden');
                    } else {
                    $('#timeslotcrit' ).addClass('hidden');
                    }

                } ) ;


                    /**submit the data*/
                $('#roomForm' ).on('submit', function(e){
                e.preventDefault();
                    var formData = $(this ).serializeObject();
                    var timeCrits = [];
                    if($('#tcritsEnabled' ).is(':checked')){
                    $('.subform' ).each(function(index, value){
                        var subFormData = $(value ).serializeObject();
                        if(subFormData['timerange' ].indexOf('unavailable')==-1){
                            var splittedData = subFormData['timerange' ].split(',');
                            var startRange = splittedData[0].split('-');
                            var startHour = Number(startRange[0]);
                            var startMinute = Number(startRange[1]);

                            var stopRange = splittedData[1].split('-');
                            var stopHour = Number(stopRange[0]);
                            var stopMinute = Number(stopRange[1]);

                            var dayIndex = [Number(splittedData[2])];
                            var duration = splittedData[3];

                            var timeCrit = {
                            "startHour":startHour,
                            "startMinutes":startMinute,
                            "stopHour":stopHour,
                            "stopMinutes": stopMinute,
                            "weekdays": dayIndex,
                            "duration": duration
                            };
                            timeCrits.push(timeCrit);
                        }
                    });
                    }

                formData['timeCriterias']=timeCrits;
                formData['capacity'] = Number(formData['capacity']);
                formData['disabled'] = formData['disabled'] == "true";
                if(formData['id' ]===''){
                formData['id' ] = null;
                } else {
                formData['id' ]=Number(formData['id' ]);
                }
                /** make sure that arrays are arrays */

                if(formData['attributes']==null){
                formData['attributes']=[];
                }

                if ( ! $.isArray ( formData[ 'attributes' ] ) ) {
                formData[ 'attributes' ] =[ formData[ 'attributes' ] ] ;
                }

                    var postUrl  = "@routes.CRoomDefinition.submitRoom()";

                var Form = this;
                console.log(JSON.stringify(formData));
                $.ajax ( {
                url : postUrl,
                type : "POST",
                data :JSON.stringify(formData),
                dataType : "json",
                context : Form,
                cache:false,
                contentType : "application/json; charset=utf-8",
                success : function ( data) {
                    console.log(JSON.stringify(data));
                $ ( location ).attr('href', '@routes.CRoomDefinition.page') ;
                }
                } )
                .error(function(errorThrown){
                    console.log(errorThrown);
                    var error = $.parseJSON(errorThrown.responseText );
                    if(error['invalid']===true){
                    //$('html').html(error['result'].replace(/<html>(.*)<\/html>/, "$1"));
                    var newDoc = document.open("text/html", "replace");
                    newDoc.write(error['result']);
                    newDoc.close();

                    return;
                    }

                    $ ( '.resultError' ).empty ( ).removeClass('hidden').html ( '<span class="glyphicon glyphicon-thumbs-down" />' + JSON.stringify(errorThrown)  );
                    }) ;
                });

                </script>

            </div>

            <!-- Display existing Rooms -->
    <div class="tab-pane fade" id="overview-pane">
        @roomoverview(existingRooms)
    </div>
               <!-- display availability -->
    <div class="tab-pane fade" id="availability-pane">
        @roomavailability(existingRooms,allTimeSlots,timeRanges)
    </div>
 </div>
}