@(weekdays: Seq[(String, String)])

    @hours = @{
        (0 to 23).map {
            i =>
                new Html("'<option value=\"" + i + "\">" + i.formatted("%02d") + "</option>'+")
        }
    }

    @minutes = @{
        (0 to 59 by 5).map {
            i =>
                new Html("'<option value=\"" + i + "\">" + i.formatted("%02d") + "</option>'+")
        }
    }

    @priority = @{
        (0 to 10).map {
            i =>
                new Html("'<option value=\"" + i + "\">" + i.formatted("%02d") + "</option>'+")
        }
    }

    @weedayOption = @{
        weekdays map {
            dayname =>
                new Html("'<option  value=\"" + dayname._1 + "\">" + dayname._2 + "</option>'+ ")
        }
    }
    <script type="text/javascript">
    var i = 0 ;

    function addTimeCritInput ( ) {

    $ ( "#timeslotcrit" ).append (
    '<div class="panel panel-info container-fluid" id="timeCriterias_' + i + '" > ' +
    '<div class="row-fluid"> ' +
    '<h4>Beginn:</h4>' +
    '<div class="clearfix form-group span2  " id="timeCriterias_' + i + '_startHour_field">' +
    '<label for="timeCriterias_' + i + '_startHour">Stunde</label>' +
    '<div class="input">' +
    '<select id="timeCriterias_0_startHour" name="timeCriterias[' + i + '].startHour" >' +
        @hours
    '</select>' +
    '<span class="help-inline"></span>' +
    '<span class="help-block"></span>' +
    '</div>' +
    '</div>' +
    '<div class="clearfix form-group span2  " id="timeCriterias_' + i + '_startMinute_field">' +
    '<label for="timeCriterias_' + i + '_startMinute">Minute</label>' +
    '<div class="input">' +
    '<select id="timeCriterias_' + i + '_startMinute" name="timeCriterias[' + i + '].startMinute" >' +
        @minutes
    '</select>' +
    '<span class="help-inline"></span>' +
    '<span class="help-block"></span>' +
    '</div>' +
    '</div>' +
    '<h4>Ende:</h4>' +
    '<div class="clearfix form-group span2  " id="timeCriterias_' + i + '_stopHour_field">' +
    '<label for="timeCriterias_' + i + '_stopHour">Stunde</label>' +
    '<div class="input">' +
    '<select id="timeCriterias_' + i + '_stopHour" name="timeCriterias[' + i + '].stopHour" >' +
        @hours
    '</select>' +
    '<span class="help-inline"></span>' +
    '<span class="help-block"></span>' +
    '</div>' +
    '</div>' +
    '<div class="clearfix form-group span2  " id="timeCriterias_' + i + '_stopMinute_field">' +
    '<label for="timeCriterias_' + i + '_stopMinute">Minute</label>' +
    '<div class="input">' +
    '<select id="timeCriterias_' + i + '_stopMinute" name="timeCriterias[' + i + '].stopMinute" >' +
        @minutes
    '</select>' +
    '<span class="help-inline"></span>' +
    '<span class="help-block"></span>' +
    '</div>' +
    '</div> <br/>' +
    '<div class="form-group span6 ">' +
    '<label class="control-label" for="timeCriterias_' + i + '_weekdays" style="display:block">' +
    'Wochentage:' +
    '</label>' +
    '<select id="timeCriterias_' + i + '_weekdays" name="timeCriterias[' + i + '].weekdays[]" multiple title="nichts Ausgewählt"> ' +
        @weedayOption
    '</select>' +
    '</div>' +

    '</div>' +
    '</div>' +
    '</div>' ) ;
    i ++ ;
    $ ( "select" ).attr ( 'data-live-search', true ).selectpicker ( {
    //'selectedText' : 'cat',
    'style' : 'btn-default'
    } ) ;


    }

    function removeTimeCritInput ( ) {
    if ( i > 0 ) {
    i -- ;
    $ ( "#timeCriterias_" + i ).remove ( ) ;
    }


    }
    </script>

