@(title: String, nav: String)(content: Html)(implicit session:Session)

@import views.html.helper._

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-select.min.css")">
        <!--link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-multiselect.css")"-->

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">


        <script src="@routes.Assets.at("javascripts/jquery-2.1.0.min.js")" type="text/javascript"></script>
            <!--script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script-->
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <!--script src="@routes.Assets.at("javascripts/bootstrap-multiselect.js")" type="text/javascript"></script-->

        <script src="@routes.Assets.at("javascripts/bootstrap-select.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.file-input.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.serializeObject.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.sortable.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>

    </head>
    <body>

        <div id="wrap">
            <nav class="navbar navbar-fixed-top navbar-inverse " role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.CIndex.index"> Schedule Generator</a>
                </div>
                <div class="collapse navbar-collapse navbar-inverse-collapse ">
                @if(session.get(CIndex.CURRENT_USER).getOrElse("-1")!="-1") {
                    <ul class="nav navbar-nav nav-tabs navbar-collapse " >
                    @sidebar(nav)
                    </ul>
                }
                    @if(session.get(CIndex.CURRENT_USER).getOrElse("-1")=="-1"){
                        @form(action=routes.CIndex.doLogin, 'class->"navbar-form pull-right"){
                           <input class="form-control input-sm" placeholder="Nutzer" type="text" name="@CIndex.loginForm("username").name" >
                           <input class="form-control input-sm" placeholder="Passwort" type="password" name="@CIndex.loginForm("password").name" >
                               <button type="submit" class="btn btn-sm btn-success navbar-btn"><span class="glyphicon glyphicon-log-in"></span> </button>
                        }
                    } else {
                        <ul class="nav navbar-nav navbar-collapse pull-right list-inline">
                            <li role="presentation">
                                <a>
                               @session(CIndex.CURRENT_USER)
                                </a>
                            </li>
                            <li>
                                <form class="navbar-form" action="@routes.CIndex.doLogout" method="post">
                                    <button type="submit" class="btn btn-danger navbar-btn btn-sm"><span class="glyphicon glyphicon-log-out"></span> </button>
                                </form>
                            </li>
                        </ul>
                    }
                </div>
            </nav>
            <div class="container-fluid" id="mainContainer">
                <div class="row-fluid">
                @if(session.get(CIndex.WRONG_LOGIN).getOrElse("false").toBoolean){
                    <div class=" col-md-5 alert alert-danger">
                        <article role="main">
                            Falsche Nutzername oder Passwort <span class="glyphicon glyphicon-thumbs-down" ></span>
                        </article>
                    </div>
                }

                @if(session.get(CIndex.CURRENT_USER).getOrElse("-1")!="-1") {
                    <div class="column col-md-12 ">
                        <article class=" " role="main"> @content </article>
                    </div>
                }
                </div>
            </div>

        </div>

        <footer id="footer">
            <div class="container text-muted" >

                    <a href="http://www.playframework.com">www.playframework.com</a> <br/>
                    <a href="https://github.com/sirthias/scala-ssh">scala-ssh</a> <br/>
                    <a href="http://getbootstrap.com/">twitter brootstrap</a> <br/>
                    <a href="http://silviomoreto.github.io/bootstrap-select/">Bootstrap-select</a> <br/>
                    <a href="http://gregpike.net/demos/bootstrap-file-input/demo.html">bootstrap-file-input</a> <br/>
                    <a href="http://farhadi.ir/projects/html5sortable/">html5sortable</a>

            </div>
        </footer>

        <script type="text/javascript">

        var initSelect = function ( ) {
            /*
        $ ( 'select' ).multiselect ( {
        buttonClass : 'btn btn-default btn-sm',
        numberDisplayed : 5,
        enableFiltering : true,
        nonSelectedText : 'Nichts Ausgewählt',
        maxHeight : 200,
        //buttonWidth: 200,
        enableCaseInsensitiveFiltering : true,
        buttonContainer : '<div class="dropdown" />'
        } ) ;
        */

        $ ( "select" ).attr ( 'data-live-search', true ).selectpicker ( {
        //'selectedText' : 'cat',
        'style' : 'btn btn-primary btn-sm'
        } ).addClass('form-control') ;

        $ ( "input[type='file']" ).bootstrapFileInput ( ) ;
        $("input" ).addClass('form-control');
        } ;

        $ ( window ).on ( 'load', function ( ) {

        initSelect ( ) ;
        } ) ;

            $(".dropdown-submenu" ).on("mouseover", function(e){
                this.dropdown();
            });

        </script>
        <script src="@routes.Assets.at("javascripts/coffee-script.js")" type="text/javascript"></script>
    </body>
</html>