@(title: String, nav: String)(content: Html)


<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-select.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    </head>
    <body>
        <div id="wrap">
            <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-inverse-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.CIndex.index"> Schedule Generator</a>
                </div>

                <ul class="nav nav-pills nav-tabs-justified " >
                @sidebar(nav)
                </ul>
            </nav>

            <nav class="collapse navbar-collapse " role="navigation">
                <ul class="nav navbar-left navbar-pills nav-stacked" style="max-width : 300px ; margin-top :50px">
                    <li class="@if(nav == controllers.CIndex.NAV){active}"><a href="@routes.CIndex.index">
                        Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Menü
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">@sidebar(nav)</ul>

                    </li>

                </ul>
            </nav>
            <div class="container">
                <article class="clearfix col-md-9" role="main"> @content </article>
            </div>
        </div>
        <footer id="footer">
            <div class="container" style="text-align : center">
                <p class="text-muted">
                    <a href="http://www.playframework.com">www.playframework.com</a> <br/>
                    <a href="http://getbootstrap.com/">twitter brootstrap</a><br/>
                    <a href="http://silviomoreto.github.io/bootstrap-select/">Bootstrap-select</a>
                </p>
            </div>
        </footer>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-select.min.js")" type="text/javascript"></script>
        <script type="text/javascript">
        $ ( window ).on ( 'load', function ( ) {

        $ ( "select" ).addClass ( "selectpicker" ).attr ( 'data-live-search', true );

        $ ( '.selectpicker' ).selectpicker ( {
        //'selectedText' : 'cat',
        'style':'btn-warning'
        } ) ;

        // $('.selectpicker').selectpicker('hide');
        } ) ;
        </script>
    </body>
</html>
