@(title: String, nav: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-select.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-select.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="wrap">
            <nav class="navbar navbar-fixed-top navbar-inverse collapse navbar-collapse navbar-inverse-collapse" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-inverse-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.CIndex.index"> Schedule Generator</a>
                </div>

                <ul class="nav navbar-nav nav-tabs navbar-collapse" >
                @sidebar(nav)
                </ul>
            </nav>

            <div class="container-fluid" style="margin-top : 4%">
                <div class="row-fluid span1">
                    <div class="column col-md-2 ">
                        <nav class="collapse navbar-collapse " role="navigation">
                            <ul class="nav navbar-left navbar-pills nav-stacked" >
                                <li class="@if(nav == controllers.CIndex.NAV) {active}"><a href="@routes.CIndex.index">
                                    Home</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Menü
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">@sidebar(nav)</ul>

                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="row-fluid span12">
                    <div class="column col-md-9 ">
                        <article class=" " role="main"> @content </article>
                    </div>
                </div>
            </div>


        </div>

        <footer id="footer">
            <div class="container" style="text-align : center">
                <p class="text-muted">
                    <a href="http://www.playframework.com">www.playframework.com</a> <br/>
                    <a href="http://getbootstrap.com/">twitter brootstrap</a><br/>
                    <a href="http://silviomoreto.github.io/bootstrap-select/">Bootstrap-select</a>
                </p>
            </div>
        </footer>

        <script type="text/javascript">
        $ ( window ).on ( 'load', function ( ) {

        $ ( "select" ).attr ( 'data-live-search', true ).selectpicker ( {
        //'selectedText' : 'cat',
        'style' : 'btn-default'
        } ) ;

        // $('.selectpicker').selectpicker('hide');
        } ) ;


        </script>
    </body>
</html>