@(title: String, roomDefForm: Form[models.fhs.pages.roomdefinition.MRoomdefintion], weekdays: Seq[(String, String)], existingRooms: List[models.fhs.pages.roomdefinition.MRoomdisplay])
@import models.fhs.pages.roomdefinition._

@import helper._
@import helper.twitterBootstrap._


@main(title, CRoomDefinition.NAV) {
    @partial.timeslotcrit(weekdays)
    <div class="page-header">
        <h1> Räume </h1>
    </div>

    <div class="clearfix">
        <div class="row-fluid">
            <div class="col-md-5">
            @form(action = routes.CRoomDefinition.submitRoom, 'class -> "span2  form-inline") {

                <fieldset>
                    @inputText(roomDefForm("number"), '_class -> "form-group span1", '_label -> "Nummer", '_help -> "Raumnummer")

                    @inputText(roomDefForm("house"), '_class -> "form-group span1", '_label -> "Haus", '_help -> "Gebäude")
                    <br/>
                    @inputText(roomDefForm("capacity"), '_class -> "form-group span1", '_label -> "Kapazität", '_help -> "Wieviele Personen?")
                    <br/>

                    <label class="control-label" for="attributes" style="display : block ;">
                        Eigenschaften
                    </label>
                    <select id="attributes" name="attributes[]" multiple title="nichts Ausgewählt">
                    @for(attr <- MRoomdefintion.ATTRIBUTES) {
                        <option value="@attr">@attr</option>
                    }
                    </select>

                </fieldset>
                <fieldset>
                    <label for="addTcrit" class="control-label" >Eingeschränkte Verfügbarkeit </label>
                    <input role="button" type="button" id="addTcrit" class="btn btn-warning btn-sm span1" onclick="addTimeCritInput ( ) ;" value="+"/>
                    <input role="button" type="button" class="btn btn-danger btn-sm span1" onclick="removeTimeCritInput();" value="-" />
                    <div id="timeslotcrit" ></div>
                </fieldset>
                <fieldset style="margin-top : 1%">
                    <div class="form-group ">
                        <span class=" btn-group span4"><input type="submit" class="form-control btn btn-success " value="senden" /> </span>
                        <span class=" btn-group span2">
                            <a href="@routes.CRoomDefinition.page" class=" btn btn-danger form-control " role="button">
                                Abbrechen
                            </a>
                        </span>
                    </div>
                </fieldset>
            }
            </div>
        </div>
            <!-- Display existing Rooms -->
        <div class="row-fluid ">
            <div class="col-md-7">
                <table class="table table-striped table-hover table-condensed" style="text-align : center">
                    <thead>
                        <tr class="text-info">
                            <th>Haus</th>
                            <th>Nummer</th>
                            <th>Kapazität</th>
                            @for(e <- MRoomdefintion.ATTRIBUTES) {
                                <th>@e</th>
                            }

                            <th>Verfügbar</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(roomEntity <- existingRooms) {
                        <tr>
                            <td>
                            @roomEntity.house
                            </td>
                            <td>
                            @roomEntity.number
                            </td>
                            <td>
                            @roomEntity.capacity
                            </td>
                            @for(e <- MRoomdefintion.ATTRIBUTES) {
                                <td>
                                    <span class="glyphicon  @if(roomEntity.roomAttributes.filter(_.getAttribute.equalsIgnoreCase(e))) { glyphicon-ok } else { glyphicon-remove } " ></span>
                                </td>
                            }

                            <td>
                            @if(roomEntity.timeCriterias.isEmpty) {
                                Immer
                            } else {
                                @for(tcrit <- roomEntity.timeCriterias) {
                                    @tcrit.weekday.substring(0, 2) @tcrit.startHour.formatted("%02d") : @tcrit.startMinutes.formatted("%02d") - @tcrit.stopHour.formatted("%02d") : @tcrit.stopMinutes.formatted("%02d") <br/>
                                }
                            }

                            </td>
                        </tr>
                    }
                    </tbody>

                </table>
            </div>
        </div>
    </div>

}