@(nav: String)

    @navList = @{
        List(
            (CEditSubjects.NAV, routes.CEditSubjects.page, "Fächer Editieren"),
            (CEditCourses.NAV, routes.CEditCourses.page, "Kurse & Gruppen"),
            (CEditDocents.NAV, routes.CEditDocents.page, "Dozenten")


        )
    }

    @exportList = @{
        List(
            (CBLAFileUpload.NAV, routes.CBLAFileUpload.page, "Bla Datei Importieren"),
            (CExporter.NAV, routes.CExporter.page, "JSON Im-/Export")
        )
    }

    @baseDataList = @{
        List(
            (CTimeslotDefintion.NAV, routes.CTimeslotDefintion.page, "Zeitslots Definieren"),
            (CRoomDefinition.NAV, routes.CRoomDefinition.page, "Räume erstellen")
        )
    }

    @scheduleList = @{
        List(
            (CGenerate.NAV, routes.CGenerate.page, "Generator"),
            (CEditSchedule.NAV,routes.CEditSchedule.page,"Stundenplan bearbeiten")
        )
    }

<li role="presentation" class="dropdown @if(!exportList.find{case (n,_,_) => nav == n}.isEmpty){ active }">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Im-/Exporter <b class="caret"></b></a>
    <ul class="dropdown-menu">
    @for(element <- exportList) {
        <li role="presentation" class='@if(nav == element._1) {active}'><a href="@element._2" > @element._3</a> </li>
    }
    </ul>
</li>

<li role="presentation" class="dropdown @if(!baseDataList.find{case (n,_,_) => nav == n}.isEmpty){ active } ">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stammdaten <b class="caret"></b></a>
    <ul class="dropdown-menu">
    @for(element <- baseDataList) {
        <li role="presentation" class='@if(nav == element._1) {active}'><a href="@element._2" > @element._3</a> </li>
    }
    </ul>
</li>

@for(element <- navList) {
    <li role="presentation" class='@if(nav == element._1) {active}'><a href="@element._2" > @element._3</a> </li>
}

    <li role="presentation" class="dropdown @if(!scheduleList.find{case (n,_,_) => nav == n}.isEmpty){ active }">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stundenplan <b class="caret"></b></a>
        <ul class="dropdown-menu">
        @for(element <- scheduleList) {
            <li role="presentation" class='@if(nav == element._1) {active}'><a href="@element._2" > @element._3</a> </li>
        }
        </ul>
    </li>