@(nav: String)

    @navList = @{
        List(
            (CTimeslotDefintion.NAV, routes.CTimeslotDefintion.page, "Zeitslots Definieren"),
            (CRoomDefinition.NAV, routes.CRoomDefinition.page, "Räume erstellen"),
            (CEditCourses.NAV, routes.CEditCourses.page, "Kurse & Gruppen"),
            (CEditSubjects.NAV, routes.CEditSubjects.page, "Fächer Editieren"),
            (CGenerate.NAV, routes.CGenerate.page, "Generator")

        )
    }

    <li role="presentation" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Im-/Exporter <b class="caret"></b></a>
        <ul class="dropdown-menu dropdown-submenu pull-right">
            <li role="presentation" class="@if(nav==CBLAFileUpload.NAV){active}"><a href="@routes.CBLAFileUpload.page">Bla Datei Importieren</a> </li>
            <li role="presentation" class="@if(nav==CExporter.NAV){active}"><a href="@routes.CExporter.page">JSON Im-/Export</a> </li>
        </ul>
    </li>

@for(element <- navList) {
    <li role="presentation" class='@if(nav == element._1) {active}'><a href="@element._2" > @element._3</a> </li>
}

