@(nav: String)

    @navList = @{
        List(
            (CTimeslotDefintion.NAV, routes.CTimeslotDefintion.page, "Zeitslots Definieren"),
            (CRoomDefinition.NAV, routes.CRoomDefinition.page, "Räume erstellen"),
            (CBLAFileUpload.NAV,routes.CBLAFileUpload.page,"Bla Datei Importieren"),
            (CEditSubjects.NAV,routes.CEditSubjects.page,"Fächer Editieren"),
            (CEditCourses.NAV,routes.CEditCourses.page,"Kurse & Gruppen")
        )
    }

@for(element <- navList) {
    <li role="presentation" class='@if(nav == element._1) {active}'><a href="@element._2" > @element._3</a> </li>
}

