@(message: String, timeslots: List[models.fhs.pages.timeslot.MTimeslot])

@main(message) {
    @sidebar()
} {
    <h1>
        Alle Timeslots
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Beginn</th>
                <th>Ende</th>
                <th>Tollerant</th>
            </tr>
        </thead>
        <tbody>

        @for(slot <- timeslots) {

            <tr>
                <td>
                    @slot.startHour.formatted("%02d") : @slot.startMinutes.formatted("%02d")
                </td>


                <td>
                    @slot.stopHour.formatted("%02d") : @slot.stopMinutes.formatted("%02d")
                </td>


                <td>
                @slot.tolerance
                </td>
            </tr>
        }
        </tbody>
    </table>
}
