@(message: String, timeslots: List[models.persistence.template.TimeslotTemplate])


@main(message, controllers.CTimeslotDisplay.NAV) {

    <div class="page-header">
        <h1>
            Alle Zeitslots
        </h1>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr class="text-info">
                    <th>Wochentag</th>
                    <th>Beginn</th>
                    <th>Ende</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="">
            @for(slot <- timeslots) {
                <tr class="active">
                    <td>
                    @slot.getParent.getName
                    </td>
                    <td>
                        @slot.getStartHour.formatted("%02d") : @slot.getStartMinute.formatted("%02d")
                    </td>
                    <td>
                        @slot.getStopHour.formatted("%02d") : @slot.getStopMinute.formatted("%02d")
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="@routes.CTimeslotDefintion.delete(slot.getId)">Löschen</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
