@(message: String, errorIds:List[String],timeslotForm: Form[models.fhs.pages.timeslot.MTimeslotDefine], weekdays: List[String])

    @import helper._
    @import helper.twitterBootstrap._

@errorSelect=@{errorIds.contains("weekdays")}

    @main(message, controllers.CTimeslotDefintion.NAV) {
        <h1>Timeslot Hinzufügen</h1>

        @form(action = routes.CTimeslotDefintion.submit, 'class -> "col-xs-12 form-inline form-horizontal") {
            <h4>Beginn:</h4>
            <div class="input-group col-xs-7">
                @select(timeslotForm("startHour"), (0 to 23).toSeq.map(i=>(i.toString,i.toString)), '_class -> "form-control ", '_label -> "Stunde", '_help -> "")
                @select(timeslotForm("startMinute"), (0 to 59 by 5).toSeq.map(i=>(i.toString,i.toString)), '_class -> "form-control ",  '_label -> "Minute", '_help -> "")
            </div>
            <h4>Ende:</h4>
            <div class="input-group col-xs-7">
                @select(timeslotForm("stopHour"), (0 to 23).toSeq.map(i=>(i.toString,i.toString)), '_class -> "form-control ", '_label -> "Stunde", '_help -> "")
                @select(timeslotForm("stopMinute"), (0 to 59 by 5).toSeq.map(i=>(i.toString,i.toString)), '_class -> "form-control ",  '_label -> "Minute", '_help -> "")
            </div>
            <h4>Wochentage:</h4>
            <div class="input-group col-xs-12">
                <div class="control-group form-control @("alert alert-danger".when(errorSelect))">
                    <label class="control-label" for="weekdays">@("Mindestens ein Wochentag muss ausgewählt sein".when(errorSelect))</label>
                    <select class=" form-control "  id="weekdays" name="weekdays[]" multiple title="nichts Ausgewählt">
                    @for(dayname <- weekdays) {
                        <option value="@dayname">@dayname</option>
                    }
                    </select>
                </div>
            </div>

            <div class="actions" style="margin-top: 30px">
                <p ><input type="submit" class="btn btn-success " value="senden" />
                    <a href="@routes.CTimeslotDefintion.page" class=" btn btn-danger btn-sm" role="button">Abbrechen</a>
                </p>
            </div>

        }


    }