@(lectures: List[persistence.lecture.Lecture])
@import models.persistence.enumerations.ELectureKind


<div class="alert alert-danger">
    <p>Konnte keinen Plan erstellen, erhöhen Sie die Generierungsdauer oder überprüfen Sie die Einstellungen.</p>
    <p>Mögliche Ursachen:</p>
    <ol>
        @for(l <- lectures) {
            <li>@l.getName,  @{
                l.getKind match {
                    case ELectureKind.EXERCISE => "Übung"
                    case ELectureKind.LECTURE => "Vorlesung"
                }
            },   @for(d <- l.getDocents) {
                @{
                    d.getLastName + " "
                }
            }
            <br>
                Teilnehmer: @l.calculateNumberOfParticipants()
                @l.getParticipants.map{ p=>
                   Name: @p.getName

                   Studenten: @p.getStudents.size

                }
            </li>
        }
    </ol>
</div>